/* ICONS */
.product_icon_parent{
    min-height: 100%;
    min-height: 100%;
    min-width: 60%;
}
.product_icon{
    /*min-width: 100%;*/
    min-height: 170px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_apple_phones{
    background-image: url("/static/img/products/apple_phones.png");
}
.icon_tablet{
    width: 200px;
    margin-left: 20px;
    background-image: url("/static/img/products/tablet.png");
}
.icon_watches{
    margin: auto;
    width: 109px;
    background-image: url("/static/img/products/smart_watches.png");
}
.icon_covers{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/covers.png");
}
.icon_others{
    margin: 10px auto 0;
    width: 109px;
    min-height: 150px;
    background-image: url("/static/img/products/other.png");
}
.icon_fitness{
    margin: 10px auto 0;
    width: 170px;
    min-height: 150px;
    background-image: url("/static/img/products/fitness.png");
}
.icon_sec{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/secure.png");
}
.icon_accessioniers{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/accessioners.png");
}