/* ICONS */
.product_icon_parent{
    min-height: 100%;
    min-height: 100%;
    min-width: 60%;
}
.product_icon{
    /*min-width: 100%;*/
    min-height: 170px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_apple_phones{
    background-image: url("/static/img/products/apple_phones.png");
}
.icon_tablet{
    width: 200px;
    margin-left: 20px;
    background-image: url("/static/img/products/tablet.png");
}
.icon_watches{
    margin: auto;
    width: 109px;
    background-image: url("/static/img/products/smart_watches.png");
}
.icon_covers{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/covers.png");
}
.icon_others{
    margin: 10px auto 0;
    width: 109px;
    min-height: 150px;
    background-image: url("/static/img/products/other.png");
}
.icon_fitness{
    margin: 10px auto 0;
    width: 170px;
    min-height: 150px;
    background-image: url("/static/img/products/fitness.png");
}
.icon_sec{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/secure.png");
}
.icon_accessioniers{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/accessioners.png");
}
/* МЕНЮ */
.appleshop_menu_btn{
	background: white;
	color: black;
	border: 0;
	border-radius: 0;
	font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-right: 1px solid whitesmoke;
}
.appleshop_menu_btn_active{
	background: linear-gradient(to top, #0371ca, #3a9be8);
	color: white;
	border: 0;
	border-radius: 0;
	font-size: 14px;
    text-align: center;
}
.appleshop_header{
    -webkit-box-shadow: 0 4px 4px -2px whitesmoke;
    -moz-box-shadow: 0 4px 4px -2px whitesmoke;
        box-shadow: 0 4px 4px -2px whitesmoke;
}
/*Спец предложения*/
.appleshop_spec_jumb{
	background-color: #f4f4f4;
	width: 100%;
	height: 400px;
}
.appleshop_spec_jumb_hover{
	-moz-box-shadow: 0px 3px 8px rgb(100,100,100);
    -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
    box-shadow: 0px 3px 8px rgb(100,100,100);
}
.specs_icon{
    /*min-width: 100%;*/
    margin: 30px auto 0;
    min-height: 190px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/img/specs/iphone7.png");
}
.specs_icon_image{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/accessioners.png");
}
.specs_divider{
    margin: auto;
    width: 175px;
    border-top: 1px solid #d9d9d9;
}
.appleshop_specs_btn{
    width: 180px;
    height: 50px;
	background: #e4e4e4;
	color: black;
	border: 0;
	border-radius: 0;
	font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.appleshop_specs_btn_active{
	background: linear-gradient(to top, #0371ca, #3a9be8);
	color: white;
	border: 0;
	border-radius: 0;
	font-size: 14px;
    text-align: center;
}
/*Вопросы*/
.appleshop_question{
    margin-top: 20px;
    margin-right: 20px;
    background-color: #fdfdfd;
    min-height: 400px;
}
.appleshop_questions_input{
    min-width: 100%;
    height: 55px;
}
input{
  border: 2px solid rgba(220,220,220,1);
  color: #2980b9;
  font-size: 16px;
  box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.2) inset;
  /*background-color: rgba(52, 152, 219, 0.1);*/
  padding: 1em;
  width: 17em;
  outline: none;
  margin: 0;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input:hover{
  border: 2px solid rgba(52, 152, 219, 1);
  box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input:focus{
  border: 2px solid rgba(52, 152, 219, 1);
  box-shadow: 0px 0px 0px 0px rgba(52, 152, 219, 1);
  background-color: rgba(255,255,255, 0.5);
  -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}