/* ICONS */
.product_icon_parent{
    min-height: 100%;
    min-height: 100%;
    min-width: 60%;
}
.product_icon{
    /*min-width: 100%;*/
    min-height: 170px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_apple_phones{
    background-image: url("/static/img/products/apple_phones.png");
}
.icon_tablet{
    width: 200px;
    margin-left: 20px;
    background-image: url("/static/img/products/tablet.png");
}
.icon_watches{
    margin: auto;
    width: 109px;
    background-image: url("/static/img/products/smart_watches.png");
}
.icon_covers{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/covers.png");
}
.icon_others{
    margin: 10px auto 0;
    width: 109px;
    min-height: 150px;
    background-image: url("/static/img/products/other.png");
}
.icon_fitness{
    margin: 10px auto 0;
    width: 170px;
    min-height: 150px;
    background-image: url("/static/img/products/fitness.png");
}
.icon_sec{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/secure.png");
}
.icon_accessioniers{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/accessioners.png");
}
/* МЕНЮ */
.appleshop_menu_btn{
	background: white;
	color: black;
	border: 0;
	border-radius: 0;
	font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-right: 1px solid whitesmoke;
}
.appleshop_menu_btn_active{
	background: linear-gradient(to top, #0371ca, #3a9be8);
	color: white;
	border: 0;
	border-radius: 0;
	font-size: 14px;
    text-align: center;
}
.appleshop_header{
    -webkit-box-shadow: 0 4px 4px -2px whitesmoke;
    -moz-box-shadow: 0 4px 4px -2px whitesmoke;
        box-shadow: 0 4px 4px -2px whitesmoke;
}
/*Спец предложения*/
.appleshop_spec_jumb{
	background-color: #f4f4f4;
	width: 100%;
	height: 400px;
}
.appleshop_spec_jumb_hover{
	-moz-box-shadow: 0px 3px 8px rgb(100,100,100);
    -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
    box-shadow: 0px 3px 8px rgb(100,100,100);
}
.specs_icon{
    /*min-width: 100%;*/
    margin: 30px auto 0;
    min-height: 190px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/static/img/specs/iphone7.png");
}
.specs_icon_image{
    margin: 15px auto 0;
    width: 109px;
    min-height: 140px;
    background-image: url("/static/img/products/accessioners.png");
}
.specs_divider{
    margin: auto;
    width: 175px;
    border-top: 1px solid #d9d9d9;
}
.appleshop_specs_btn{
    width: 180px;
    height: 50px;
	background: #e4e4e4;
	color: black;
	border: 0;
	border-radius: 0;
	font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.appleshop_specs_btn_active{
	background: linear-gradient(to top, #0371ca, #3a9be8);
	color: white;
	border: 0;
	border-radius: 0;
	font-size: 14px;
    text-align: center;
}
/*Вопросы*/
.appleshop_question{
    margin-top: 20px;
    margin-right: 20px;
    background-color: #fdfdfd;
    min-height: 400px;
}
.appleshop_questions_input{
    min-width: 100%;
    height: 55px;
}


textarea{
  border: 2px solid rgba(220,220,220,1);
  color: #2980b9;
  font-size: 16px;
  box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.2) inset;
  /*background-color: rgba(52, 152, 219, 0.1);*/
  padding: 1em;
  width: 17em;
  outline: none;
  margin: 0;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

textarea:hover{
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

textarea:focus{
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 0px 0px 0px 0px rgba(52, 152, 219, 1);
    background-color: rgba(255,255,255, 0.5);
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}



input{
  border: 2px solid rgba(220,220,220,1);
  color: #2980b9;
  font-size: 16px;
  box-shadow: 1px 1px 3px 1px rgba(200,200,200, 0.2) inset;
  /*background-color: rgba(52, 152, 219, 0.1);*/
  padding: 1em;
  width: 17em;
  outline: none;
  margin: 0;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input:hover{
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 1px 1px 3px 1px rgba(52, 152, 219, 0.2) inset;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input:focus{
    border: 2px solid rgba(52, 152, 219, 1);
    box-shadow: 0px 0px 0px 0px rgba(52, 152, 219, 1);
    background-color: rgba(255,255,255, 0.5);
    -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
}
/* менюха */
.appleshop_menu_item{
    border-radius: 0 !important;
    border-bottom: 1px solid #d9d9d9;
    height: 62px;
    color: black;
    font-weight: 700;
}
a.list-group-item.appleshop_menu_item{
    /*border: 0;*/
    border-top: 1px solid #d9d9d9;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #d9d9d9;
}
div.apple_shop_item_text{
    margin-top: 10px;
}
a.list-group-item.appleshop_menu_item:hover{
	background: linear-gradient(to top, #0371ca, #3a9be8);

}
/* для страницы контактов */
.appleshop_contacts_info{
    height: 145px;
    width: calc(100% - 26px);
    margin-left: 13px;
    background: white;
}
.appleshop_contacts_map{
    height: 335px;
    margin-left: 13px;
    width: calc(100% - 26px);
}
/* каталог продукции */
.appleshop_catalog_jumb{
	background-color: white;
	width: 100%;
	height: 400px;
}
.appleshop_catalog_jumb_hover{
	-moz-box-shadow: 0px 3px 8px rgb(100,100,100);
    -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
    box-shadow: 0px 3px 8px rgb(100,100,100);
}
/*.appleshop_product_jumb{*/
	/*border-style: solid;*/
	/*border-width: 1px;*/
	/*border-color: lightgray;*/
	/*background-color: white;*/
	/*width: 100%;*/
	/*height: 170px;*/
/*}*/
.appleshop_product_jumb_hover{
	-moz-box-shadow: 0px 3px 8px rgb(100,100,100);
    -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
    box-shadow: 0px 3px 8px rgb(100,100,100);
}
.priceCard{
    height: 140px;
    background-color: #e0e0e0;
}
.settings{
    height: 125px;
    width: 100%;
    background-color: white;
}
#priceValue .slider-selection {
	background: yellow;
}
.noneCat{
    font-weight: bold;
    position: absolute;
    z-index: 10;
    margin-left: 100px;
    margin-top: 67px;
    display: none;
}
/*Для плашки*/
.none_cat:hover {
  -webkit-filter: blur(5px);
}
.dropdown-menu > li > a{
    padding: 5px 60px;
    text-align: center;
}
.test.dropdown-menu > li > a{
    padding: 5px 55px;
    text-align: center;
}
.category{
    font-family: 'Roboto Light', sans-serif; font-size: 16px;  font-weight: 300; color:black;
}
.call_modal.modal-dialog{
    background-color: #f7f7f7;
}
.close{
    float: right;
font-size: 21px;
font-weight: bold;
line-height: 1;
 color: #000;
 text-shadow: 0 1px 0 #fff;
 filter: !important;
 opacity: 1!important;
}



.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}


/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    margin-right: 10px;
  width: 50px;
  height: 50px;
  position: relative;
  /*margin: 1px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: white;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0;
}

#nav-icon1 span:nth-child(2) {
  top: 12px;
}

#nav-icon1 span:nth-child(3) {
  top: 24px;
}
#nav-icon1.open{
    /*margin-top: -35px !important;*/
}
#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}


#nav-icon4 {
    width: 40px;
    height: 30px;
}

#nav-icon4 span:nth-child(1) {
  color:black;
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
    width: 48px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
    top: 31px;
    left: 8px;
    width: 48px;
}

#nav-icon4-mob {
    width: 40px;
    height: 30px;
    color:black;
}

#nav-icon4-mob span:nth-child(1) {
    background-color:black;
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4-mob span:nth-child(2) {
  background-color:black;
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4-mob span:nth-child(3) {
    background-color:black;
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4-mob.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 8px;
    width: 48px;
}

#nav-icon4-mob.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#nav-icon4-mob.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
    top: 31px;
      left: 8px;
    width: 48px;
}





.smoothScroll{
    color: black;
}
.images_carousel{
    width: 100%;
    top: 0px;
    position: absolute;
    /* right: 15%; */
    bottom: 20px;
    /* left: 15%; */
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-shadow: none;
}

@media (max-width: 767px) {
    #navbar{
        height: 82px;
    }
    #nav_logo_btn{
        display: none;
    }
    #nav_logo_text{
        display: none;
    }
    #nav_logo{
        width: 100% !important;
        z-index: 1 !important;
        margin-top: 3px;
        /*width: 100%;*/
    }
    #nav_row{
        height: 82px;
    }
    #nav_pc{
        display: none !important;
    }
    #ap_menu{
        display: none !important;
    }
    #nav_mob{
        display: block !important;
    }
    #question{
        width: 300px !important;
    }
    .header_logo{
        float: none !important;
        margin-left: 0 !important;
        margin-top: 12px !important;

    }
    #ap_menu{
        display: none !important;
    }
    #ap_menu_mob{
        display: block !important;
    }
    #nav_btn_hamb{
        margin-top: -5px !important;
        width: 12.5% !important;
        display: block !important;
        float: right !important;
        z-index: 2 !important;
        margin-right: 5px !important;
    }
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}