<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="APPLESHOP54 - Магазин трендовых товаров">
    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>APPLESHOP54 - Магазин трендовых товаров</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/appleshop54.css" rel="stylesheet">
    <script src="/static/js/js.cookie.min.js"></script>
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link href="/static/css/animate-custom.css" rel="stylesheet">



    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">appleshop54.ru</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if admin_level == 1 or admin_level == 3 %}
            <li class="active"><a href="/ad">Продукты <span class="sr-only">(current)</span></a></li>
          {% endif %}

          {% if admin_level == 1 or admin_level == 2 %}
            <li><a href="/ad/clients">Клиенты</a></li>
          {% endif %}
          {% if admin_level == 1 or admin_level == 2 %}
            <li><a href="/ad/seo">SEO</a></li>
          {% endif %}
          {% if admin_level == 1 %}
            <li><a href="/ad/users">Пользователи системы</a></li>
              <li><a href="/ad/discount">Акции</a></li>
            <li><a href="/ad/pages">Страницы</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right" id="loginPlace">
            <li><label style="margin-top: 15px; margin-right: 5px;">Ваш логин: {{ username }}</label></li>
            <li class="pointmenu"><a href="#" data-toggle="modal" data-target="#login-modal" onclick="Cookies.set('device_token',null); window.location=location.protocol + '//' + location.host+'/ad/auth'">Выйти</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 id="progress-label"><a class="anchorjs-link " href="#progress-label" aria-label="Anchor link for: progress label" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-position: normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-alternates: normal; font-variant-east-asian: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Добавление товара</h2>
                <h3 id="productId">ID продукта: -</h3>
                <div class="form-group">
                  <label for="typeProduct">Выбор типа продукта :</label>
                  <select class="form-control" id="typeProduct" onchange="typeProd = this.value; loadCategs();">
                  </select>
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Производитель</span>
                  <input type="text" class="form-control" placeholder="Производитель" aria-describedby="basic-addon1" id="productVendor">
                </div>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Название</span>
                  <input type="text" class="form-control" placeholder="Название" aria-describedby="basic-addon1" id="productName">
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Цена</span>
                  <input type="text" class="form-control" placeholder="Цена" aria-describedby="basic-addon1" id="productPrice">
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">Описание</span>
                    <textarea rows="10" cols="45" name="text" class="form-control" placeholder="Описание"id="productDescription"></textarea>
{#                  <input type="text" class="form-control" placeholder="Описание" aria-describedby="basic-addon1" id="productDescription">#}
                </div>
                <h2 id="progress-label"><a class="anchorjs-link " href="#progress-label" aria-label="Anchor link for: progress label" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-position: normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-alternates: normal; font-variant-east-asian: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Фотографии продукта</h2>
            </div>
            <div class="col-lg-6">

                <h3>Категория продукта</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                          <label for="categProduct">Выбор категории :</label>
                          <select class="form-control" id="categProduct" onchange="categID = this.value; loadSubCategs();">
                          </select>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-horizontal">
                          <div class="form-group">
                            <label for="inputType" class="col-lg-1 control-label">Название</label>
                              <input type="text" class="form-control" id="inputCategName" placeholder="Название категории">
                            <button class="btn btn-success" onclick="addCateg()">Добавить категорию</button>
                          </div>
                        </div>

                    </div>
                </div>
                <h3>Субкатегория продукта</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                          <label for="subcategProduct">Выбор субкатегории :</label>
                          <select class="form-control" id="subcategProduct" onchange="subcategID = this.value;">
                          </select>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-horizontal">
                          <div class="form-group">
                            <label for="inputType" class="col-lg-1 control-label">Название</label>
                              <input type="text" class="form-control" id="inputSubCategName" placeholder="Название категории">
                            <button class="btn btn-success" onclick="addSubCateg()">Добавить субкатегорию</button>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-6">
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <label for="file">Выберите файл для загрузки</label>
                        <input name="file" type="file">
                    </fieldset>
                    <fieldset>
                        <button id="upload-file-btn" type="button" class="btn btn-default btn-info">Загрузить</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-lg-6">

                <h3>Цвет продукта</h3>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                          <label for="colorProduct">Выбор цвета :</label>
                          <select class="form-control" id="colorProduct" onchange="colorId = this.value;">
                          </select>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="form-horizontal">
                          <div class="form-group">
                            <label for="inputType" class="col-lg-1 control-label">Название</label>
                              <input type="text" class="form-control" id="inputColorName" placeholder="Название цвета">
                            <button class="btn btn-success" onclick="addColor()">Добавить цвет</button>
                            <button class="btn btn-danger" onclick="removeColor()">Удалить текущий цвет</button>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="imagesProduct">

        </div>
        <div class="row" id="tableSpecs">
            <h2 id="progress-label"><a class="anchorjs-link " href="#progress-label" aria-label="Anchor link for: progress label" data-anchorjs-icon="" style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-position: normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-alternates: normal; font-variant-east-asian: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>Характеристики продукта</h2>
            <div class="form-horizontal">
              <div class="form-group">
                <label for="inputType" class="col-lg-1 control-label">Название</label>
                <div class="col-lg-3">
                  <input type="text" class="form-control" id="inputSpecsName" placeholder="Название">
                </div>
                <label for="inputType" class="col-lg-1 control-label">Значение</label>
                <div class="col-lg-3">
                  <input type="text" class="form-control" id="inputSpecsValue" placeholder="Значение">
                </div>
                <button class="btn btn-success" onclick="addSpec()">Добавить</button>
              </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Значение</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody id="specsBody">

                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="row text-center">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="addProduct()">ДОБАВИТЬ ПРОДУКТ</button>
        </div>
    </div>
    <script>
        Array.prototype.remove = function(from, to) {
          var rest = this.slice((to || from) + 1 || this.length);
          this.length = from < 0 ? this.length + from : from;
          return this.push.apply(this, rest);
        };
        var colorId = -1;
        var specs = new Array();
        var imageIDs = new Array();
        var categID = -1;
        var subcategID = -1;
        var typeProd = 1;
        var productId = -1;
        $( "#typeProduct" ).change(function(data) {
            typeProd = $( "#typeProduct" ).val();
        });
        function addProduct(){
            $.get('/ad/product/add', {'type_product': typeProd,'name':$("#productName").val(),
                'price':$("#productPrice").val(),'description':$("#productDescription").val(),
                'vendor': $("#productVendor").val(),'categ':categID,'sub_categ':subcategID, 'main_image': imageIDs[0]})
            .done(function (data) {
                for(var i = 0;i < imageIDs.length; i++){
                    $.get('/ad/img/setProductID',{'product_id': productId,'image_id':imageIDs[i]})
                    .done(function (data) {

                    })
                    .fail(function(data){
{#                        alert(data.message);#}
                        alert('Ошибка выставления картинки');
                    });
                }
                if(specs != {})
                    $.post('/ad/product/set_spec',{'specs': JSON.stringify(specs),'product_id':productId})
                    .done(function (data) {

                    })
                    .fail(function(data){
                        alert('Ошибка добавления характеристик');
                    });
                $.get('/ad/product/set_color',{'color_id': colorId,'product_id':productId})
                .done(function (data) {

                })
                .fail(function(data){
                    alert('Ошибка выставления цвета');

                });
                alert('Успешно добавлено');
{#                loadProductID();#}

{#                window.top.location.href = '/ad';#}
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function removeSpec(removeI){
            specs.remove(removeI);
            updateSpecsTable();
        }
        function removeColor(){
            $.get('/ad/product/del_color?color_id='+colorId)
            .done(function (data) {
                loadColors();
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function addSpec(){
            specs.push({'specName':$("#inputSpecsName").val(), 'specValue': $("#inputSpecsValue").val()});
            updateSpecsTable();
        }
        function addCateg(){
            $.get('/ad/product/categ/add', {'categ_name': $("#inputCategName").val(), 'type_id': typeProd })
            .done(function (data) {
                loadCategs();
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function addSubCateg(){
            $.get('/ad/product/sub_categ/add', {'subcateg_name': $("#inputSubCategName").val(), 'categ_id': categID })
            .done(function (data) {
                loadSubCategs();
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function addColor(){
            $.get('/ad/product/add_colors?color_name='+$("#inputColorName").val())
            .done(function (data) {
                loadColors();
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function updateSpecsTable(){
            var html = "";
            for(var i = 0;i < specs.length; i++){
                html += "<tr> <td> " + i.toString() + "</td>";
                html += "<td>" + specs[i].specName + "</td>";
                html += "<td>" + specs[i].specValue + "</td>";
                html += '<td><a class="btn btn-danger" onclick="removeSpec(' + i.toString() + ')">Удалить</a></td></tr>';
            }
            $("#specsBody").html(html);
        }
        function setMain(image_id){
            $.get('/ad/img/setMain?image_id='+image_id.toString())
            .done(function (data) {
                loadAllImages();
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function removeImage(image_id){
            $.get('/ad/img/remove?image_id='+image_id.toString() + "&prod_id=" + productId.toString())
            .done(function (data) {
                console.log(data);
                loadAllImages();
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function loadAllImages(){
            $.get('/ad/img/all', {'product_id' :productId})
            .done(function (data) {
                data = JSON.parse(data);
                console.log(data);
                var html = "";
                imageIDs = new Array();
                console.log('length ' + data.length);
                $("#imagesProduct").html("");
                if(data.length > 0) {
                    $("#upload-file-btn").addClass('disabled');
                    for(var i = 0; i< 1; i++){
                        imageIDs.push(data[i]);
    {#                    console.log(data[i].is_main == true?'btn-success' : '');#}
                        html += '<div class="col-xs-6 col-md-3"> <div class="thumbnail">';
                        html += '<img src="/static/img/products/tmp/' + productId.toString() + '/' + data[i] + '" alt="..." id="img1" imageId='+ data[i] +'>';
                        html += '<div class="caption">' +
                                '<p><a onclick="removeImage(\''+ data[i] +'\');" class="btn btn-primary" role="button">Удалить изображение</a> ';
    {#                    if(data[i].is_main == true)#}
    {#                        html += '<a onclick="setMain('+ data[i] +')" class="btn btn-default btn-success" role="button">Поставить главной</a></p></div></div></div>';#}
    {#                    else#}
    {#                        html += '<a onclick="setMain('+ data[i] +')" class="btn btn-default" role="button">Поставить главной</a></p></div></div></div>';#}
                        html += '</div></div></div>';
                    }
                    $("#imagesProduct").html(html);
                }
                else{
                    $("#upload-file-btn").removeClass('disabled');
                }


            })
            .fail(function (data) {

            });
        }
        function loadCategs(){
            $.get("/ad/product/categ/all" , {'type_id': typeProd})
            .done(function(data){
                data = JSON.parse(data);
                var html = "";
                for(var i = 0; i < data.length; i++){
                    html += '<option value="' + data[i].id +'">' + data[i].category_name + '</option>';
                }
                $("#categProduct").html(html);
                if(data.length == 0)
                    categID = -1;
                else
                categID = $("#categProduct").val();
                loadSubCategs();
            })
            .fail(function (data) {
                alert(data.message);
            });
        }
        function loadSubCategs(){
            $.get("/ad/product/sub_categ/all" , {'categ_id': categID})
            .done(function(data){
                data = JSON.parse(data);
                console.log(data);
                var html = "";
                for(var i = 0; i < data.length; i++){
                    html += '<option value="' + data[i].id +'">' + data[i].subcateg_name + '</option>';
                }
                $("#subcategProduct").html(html);
            })
            .fail(function (data) {
                alert(data.message);
            });
        }
        function loadColors(){
            $.get("/ad/product/get_colors")
            .done(function(data){
                data = JSON.parse(data);
                var html = "";
                for(var i = 0; i < data.length; i++){
                    html += '<option value="' + data[i].id +'">' + data[i].color_name + '</option>';
                }
                $("#colorProduct").html(html);
            })
            .fail(function (data) {
                alert(data.message);
            });
        }
        function loadTypes(){
            $.get("/ad/product/get_types")
            .done(function(data){
                data = JSON.parse(data);
                var html = "";
                for(var i = 0; i < data.length; i++){
                    html += '<option value="' + data[i].id +'">' + data[i].type_name + '</option>';
                }
                $("#typeProduct").html(html);
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function loadProductID(){
            $.get('/ad/product/next')
            .done(function(data){
                data = JSON.parse(data);
                console.log(data);
                productId = data.productId;
                $("#productId").text('ID продукта: ' + data.productId.toString());

                loadAllImages();
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        $(window).load(function () {
            loadProductID();
            loadTypes();
            loadColors();
            loadCategs();
        });
        /*<div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="" alt="..." id="img1">
                </a>
             </div>*/
        $(function() {
            $('#upload-file-btn').click(function() {
                var form_data = new FormData($('#upload-file')[0]);
                $.ajax({
                    type: 'POST',
                    url: '/upload/' + productId.toString(),
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function(data) {
                        console.log('Success!');


                        loadAllImages();
                    }
                });
            });
        });
    </script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/retina.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
  </body>
</html>
