<div class="row">
    <ol class="breadcrumb" style="background: #f1f1f1;">
      <li><a href="/">Главная</a></li>
      <li> <a href="/каталог">Продукция</a></li>
      <li class="active" id="nameCatalogBreadcumb">{{ name_top }}</li>
    </ol>
    <h3 class="section-heading" style="margin-left:13px; margin-top: -10px; font-weight: bold;" id="nameCatalogPart">{{ name }}</h3>
</div>
<script>
    var data = {{ js_data | safe}};
    {% if cat_data != None %}
    var cat_data = {{ cat_data | safe }};
    {% endif %}
</script>
{% if prices is defined %}
<div class="row" id="settings" style="margin-left: 0px;">
    <div class="settings">
        <div class="row">
            {% if prices['min'] != prices['max'] %}
            <div class="col-lg-5">
                <label style="margin-left: 20px;margin-top: 20px; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-weight: 500; padding-right: 10px;">Цена:</label>
                <div class="row" style="margin-left: 20px;">
                    <div style="border: 1px solid #d9d9d9; height: 60px;">
                        <div style="margin-left: 10px; margin-top: 18px;">
                            <span style="font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 500; padding-right: 10px;">{{ prices['min'] }}</span>
                            <input id="priceValue" type="text" class="span2" value="" data-slider-min="{{ prices['min'] }}" data-slider-max="{{ prices['max'] }}" data-slider-step="5" data-slider-value="[{{ prices['pr_min'] }},{{ prices['pr_max'] }}]"/>
                            <span style="font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 500; padding-right: 10px;">{{ prices['max'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if prices['min'] == prices['max'] %}
            <div class="col-lg-5">
                <label style="margin-left: 20px;margin-top: 20px; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-weight: 500; padding-right: 10px;">Цена:</label>
                <div class="row" style="margin-left: 20px;">
                    <div style="border: 1px solid #d9d9d9; height: 60px;">
                        <div style="margin-left: 10px; margin-top: 18px;">
                            <label style="margin-left: 10%;margin-right: 10%; padding-left: 35px; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-weight: 500;">Фильтр недоступен</label>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if data['cat1_vendor'] == True %}
            <div class="col-lg-4" id="cat_1" type="vendor">
                <label style="margin-top: 20px; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-weight: 500; padding-right: 10px;">{{ data['cat_1_name'] }}:</label>
                <div style="border: 1px solid #d9d9d9; height: 60px;">
                    <a class="dropdown-toggle" type="button" data-toggle="dropdown"
                         style="height: 100%; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 300; color:black; float:right; width: 100%; margin-top: 17px;">
                          <span style="margin-left: 15px;" id="cat1_text">{{ data['cat_1_def'] }}</span>
                      <span class="caret" style="float: right; margin-right: 12px; margin-top: 10px;  text-align: center;"></span></a>
                      <ul class="test dropdown-menu" style="margin-top: -15px;width: 90%; margin-left: 15px;" id="cat1_data">

                      </ul>
                </div>
            </div>
            {% else %}
            <div class="col-lg-4" id="cat_1">
                <label style="margin-top: 20px; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-weight: 500; padding-right: 10px;">{{ data['cat_1_name'] }}:</label>
                <div style="border: 1px solid #d9d9d9; height: 60px;">
                    <a class="dropdown-toggle" type="button" data-toggle="dropdown"
                         style="height: 100%; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 300; color:black; float:right; width: 100%; margin-top: 17px;">
                          <span style="margin-left: 15px;" id="cat1_text">{{ data['cat_1_def'] }}</span>
                      <span class="caret" style="float: right; margin-right: 12px; margin-top: 10px;  text-align: center;"></span></a>
                      <ul class="test dropdown-menu" style="margin-top: -15px;width: 90%; margin-left: 15px;" id="cat1_data">

                      </ul>
                </div>
            </div>
            {% endif %}
            {% if data['cat2_color'] == True %}
            <div class="col-lg-3" id="cat_2" type="color">
                <label style="margin-top: 20px; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-weight: 500; padding-right: 10px;">Цвет:</label>
                <div style="border: 1px solid #d9d9d9; height: 60px;" class="dropdown">
                      <a class="dropdown-toggle" type="button" data-toggle="dropdown"
                         style="height: 100%; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 300; color:black; float:right; width: 100%; margin-top: 17px;">
                          <span style="margin-left: 15px;" id="cat2_text">Все цвета</span>
                      <span class="caret" style="float: right; margin-right: 12px; margin-top: 10px; "></span></a>
                      <ul class="dropdown-menu"  style="width: 100%; margin-left: 1px; text-align: center;" id="cat2_data">
                        <li><a href="#" class="category">Все цвета</a></li>
                      </ul>
                </div>
            </div>
            {% elif data['cat_2_name'] != None %}
                {% if data['availible'] is defined %}
                    <div class="col-lg-3" id="cat_2" style="display: none;">
                {% else %}

                    <div class="col-lg-3" id="cat_2">
                {% endif %}
                <label style="margin-top: 20px; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-weight: 500; padding-right: 10px;">{{ data['cat_2_name'] }}:</label>
                <div style="border: 1px solid #d9d9d9; height: 60px;" class="dropdown">
                      <a class="dropdown-toggle" type="button" data-toggle="dropdown"
                         style="height: 100%; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 300; color:black; float:right; width: 100%; margin-top: 17px;">
                          <span style="margin-left: 15px;" id="cat2_text">{{ data['cat_2_def'] }}</span>
                      <span class="caret" style="float: right; margin-right: 12px; margin-top: 10px; "></span></a>
                      <ul class="dropdown-menu"  style="width: 100%; margin-left: 1px; text-align: center;" id="cat2_data">
                        <li><a href="#" class="category">Все цвета</a></li>
                      </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
<div class="row" id="products">
    {{ products | safe }}
</div>
<br>
<br>
<br>
<br>
{#<div class="row" style="margin-left: 0px;">#}
{#    <nav aria-label="Page navigation">#}
{#      <ul class="pagination">#}
{#        <li>#}
{#          <a href="#" aria-label="Previous">#}
{#            <span aria-hidden="true">&laquo;</span>#}
{#          </a>#}
{#        </li>#}
{#        <li><a href="#">1</a></li>#}
{#        <li><a href="#">2</a></li>#}
{#        <li><a href="#">3</a></li>#}
{#        <li><a href="#">4</a></li>#}
{#        <li><a href="#">5</a></li>#}
{#        <li>#}
{#          <a href="#" aria-label="Next">#}
{#            <span aria-hidden="true">&raquo;</span>#}
{#          </a>#}
{#        </li>#}
{#      </ul>#}
{#    </nav>#}
{#</div>#}

<script>
    var colorId = null;
    var cat1Id = null;
    var cat2Id = null;
    var vendorId = null;
    function filterProducts(){
        console.log({'cat':cat1Id,'subcat':cat2Id,'color':colorId, 'type':data.cat,'vendor': vendorId});
        $.get('/getProductsBy',{'cat':cat1Id,'subcat':cat2Id,'color':colorId, 'type':data.cat,'vendor': vendorId})
        .done(function (data) {
            $("#products").html(data);
        })
        .fail(function (data) {
        });
    }
    function changeSubCategory(key) {
        if(key == null){
            $("#cat2_text").text(data['cat_2_def']);
            cat2Id = null;
        }
        else{
            console.log("#t" + key);
            cat2Id = key;
            $("#cat2_text").text($("#t" + key).attr('value'));

        }
        filterProducts();
{#        $("#cat2_text").text($(key.target).attr('value'));#}
    }
    function changeCategory(key) {
        cat1Id = key;

        if(key == null){
            $("#cat1_text").text(data.cat_1_def);
            filterProducts();
            if(data.cat2_color != true)
                $("#cat_2").hide();
        }
        else {
            if(data.availble != null) {
                if (cat_data[key].data.length > 0) {
                    cat2Id = null;

                    if(data.cat2_color != true)
                        $("#cat_2").hide();
                }
                else {
                    $("#cat_2").show();
                }
            }
            if (cat_data[key] == null) {
                $("#cat_2").hide();
            }

            $("#cat1_text").text(cat_data[key].name);

            if ($("#cat_2").attr('type') != "color") {
                console.log(cat_data[key].data);
                html = "";
                if(cat_data[key].data.length == 0)
                {
                    $("#cat_2").hide();
                }
                else{
                    $("#cat_2").show();
                    for (var i = 0; i < cat_data[key].data.length; i++) {
                    var temp = cat_data[key].data[i];
                    console.log(temp);
                    if (i == 0) {

                        html += '<li><a id="t0" onclick="changeColor(null);" class="category" sid="null" value="null">' + data.cat_2_def + ' </a></li><li class="divider"></li>';
                        html += '<li><a id="t' + temp['sid'] + '" onclick="changeSubCategory(' + temp['sid'] + ');" class="category" sid="' + temp['sid'] + '" value="' + temp.subcateg_name + ' ">' + temp.subcateg_name + '</a></li>';
                    }
                    else
                        html += '<li class="divider"></li><li><a id="t' + temp['sid'] + '" onclick="changeSubCategory(' + temp['sid'] + ');" class="category" sid="' + temp['sid'] + '" value="' + temp.subcateg_name + ' ">' + temp.subcateg_name + '</a></li>';
                }
                $("#cat2_data").html(html);

                }

            }
            filterProducts();
        }
    }
    function changeColor(color){
        console.log(color);
        if(color == null){
            colorId = null;

            $("#cat2_text").text('Все цвета');
            filterProducts();
        }
        else {
            colorId = color;
            console.log(color);
            console.log("#t" + color);
            $("#cat2_text").text($("#t" + color).attr('value'));
            filterProducts();
        }
    }
    function changeVendor(vendor){
        console.log(vendor);
        if(vendor == null){
            vendorId = null;
            $("#cat1_text").text('Все производители');
            filterProducts();
        }
        else {
            var key = vendor;
            console.log($("#v" + key.toString()).text());
            vendorId = $("#v" + key.toString()).text();
            console.log(vendorId);
            console.log("#v" + key);
            $("#cat1_text").text($("#v" + key.toString()).attr('value'));
            filterProducts();
        }
    }
    $(testSlider).change(function (data) {
       console.log(data);
    });
    $(window).load(function () {
        if($("#cat_1").attr('type') == "vendor"){
            $.get('/getVendorsByType',{'id':data.cat})
            .done(function (data) {
                data = JSON.parse(data);
                console.log(data);
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    var temp = data[i];
                    console.log(temp);
                    if(i==0) {
                        html += '<li><a id="v00" onclick="changeVendor(null);" class="category" sid="null" value="null">Все производители</a></li><li class="divider"></li>';
                        html += '<li><a id="v' + i + '" onclick="changeVendor(' + i + ');" class="category" sid="' + i + '" value="' + temp.vendor
                                + ' ">' + temp.vendor + '</a></li>';
                    }
                    else
                        html += '<li class="divider"><li><a id="v' + i + '" onclick="changeVendor('
                                + i + ');" class="category" sid="' + i + '" value="' + temp.vendor
                                + ' ">' + temp.vendor + '</a></li>';
                }
                $("#cat1_data").html(html);
            })
            .fail(function (data) {

            });
        }



        if($("#cat_2").attr('type') == "color"){
            $.get('/getColorsByType',{'id':data.cat})
            .done(function (data) {
                data = JSON.parse(data);
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    var temp = data[i];
                    console.log(temp);
                    if(i==0) {
                        html += '<li><a id="t0" onclick="changeColor(null);" class="category" sid="null" value="null">Все цвета</a></li><li class="divider"></li>';
                        html += '<li><a id="t' + temp['color_id'] + '" onclick="changeColor('
                                + temp['color_id'] + ');" class="category" sid="' + temp['color_id'] + '" value="' + temp.color
                                + ' ">' + temp.color + '</a></li>';
                    }
                    else
                        html += '<li class="divider"></li><li><a id="t' + temp['color_id'] + '" onclick="changeColor('
                            + temp['color_id'] + ');" class="category" sid="' + temp['color_id'] + '" value="' + temp.color
                            + '">' + temp.color + '</a></li>';
                }
                $("#cat2_data").html(html);
            })
            .fail(function (data) {

            });
        }
        var html = "";
        /*
        * <li><a href="#" class="category">HTML</a></li><li class="divider"></li>
                        <li><a href="#" class="category">CSS</a></li><li class="divider"></li>
                        <li><a href="#" class="category">JavaScript</a></li>*/

        var firstKey = null;
        var i = 0;
        for(var key in cat_data) {
            if(i==0) {

                html += '<li><a onclick="changeCategory(null);" class="category">' + data.cat_1_def +'</a></li><li class="divider">';
                html += '<li><a onclick="changeCategory(' + key + ');" class="category">' + cat_data[key].name + '</a></li>';
            }
            else
                html += '<li class="divider"></li><li><a onclick="changeCategory(' + key + ');" class="category">' + cat_data[key].name +'</a></li>';
            i++;
        }
        $("#cat1_data").html(html);
    });
</script>