<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="APPLESHOP54 - Магазин трендовых товаров">
    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>APPLESHOP54 - Магазин трендовых товаров</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/appleshop54.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link href="/static/css/animate-custom.css" rel="stylesheet">



    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/js.cookie.min.js"></script>

    <link href="/static/css/toastr.min.css" rel="stylesheet">
    <script src="/static/js/toastr.min.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/static/css/bootstrap-colorpicker.css" rel="stylesheet">
    <script src="/static/js/bootstrap-colorpicker.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">appleshop54.ru</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if admin_level == 1 or admin_level == 3 %}
            <li><a href="/ad">Продукты <span class="sr-only">(current)</span></a></li>
          {% endif %}

          {% if admin_level == 1 or admin_level == 2 %}
            <li><a href="/ad/clients">Клиенты</a></li>
          {% endif %}
          {% if admin_level == 1 or admin_level == 2 %}
            <li><a href="/ad/seo">SEO</a></li>
          {% endif %}
          {% if admin_level == 1 %}
            <li><a href="/ad/users">Пользователи системы</a></li>
            <li class="active"><a href="/ad/discount">Акции</a></li>
            <li><a href="/ad/pages">Страницы</a></li>
          {% endif %}

        </ul>
        <ul class="nav navbar-nav navbar-right" id="loginPlace">
            <li><label style="margin-top: 15px; margin-right: 5px;">Ваш логин: {{ username }}</label></li>
            <li class="pointmenu"><a href="#" data-toggle="modal" data-target="#login-modal" onclick="Cookies.set('device_token',null); window.location=location.protocol + '//' + location.host+'/ad/auth'">Выйти</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   <div id="modalAddDiscount" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Добавить акцию</h4>
          </div>
          <div class="modal-body">
                <div class="form-horizontal">
                  <div class="form-group">
                      <div class="row">
                          <h3 id="discountId" class=" control-label" style="float: left; margin-left: 20px;"></h3>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-lg-9">
                              <input type="text" class="form-control" id="discountName" placeholder="Название акции">
                          </div>
                          <div class="col-lg-3">
                                <div id="nameColor" data-format="alias" class="input-group colorpicker-component">
                                    <input type="text" value="primary" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                          </div>
                      </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-9">
                            <textarea rows="10" cols="45" name="text" class="form-control" placeholder="Описание акции" id="discountDescription"></textarea>
                        </div>
                        <div class="col-lg-3">
                            <div id="descriptionColor" data-format="alias" class="input-group colorpicker-component">
                                <input type="text" value="primary" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <label for="file">Выберите файл для загрузки</label>
                            <input name="file" type="file">
                        </fieldset>
                        <fieldset>
                            <button id="upload-file-btn" type="button" class="btn btn-default btn-info">Загрузить</button>
                        </fieldset>
                    </form>
                      <br>
                    <div class="row" id="imagesProduct">

                    </div>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="addDiscount()">Добавить акцию</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>

      </div>
    </div>
   <div id="modalChangeDiscount" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Изменить акцию акцию</h4>
          </div>
          <div class="modal-body">
                <div class="form-horizontal">
                  <div class="form-group">
                      <div class="row">
                          <h3 id="discountIdChange" class=" control-label" style="float: left; margin-left: 20px;"></h3>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-lg-9">
                              <input type="text" class="form-control" id="discountNameChange" placeholder="Название акции">
                          </div>
                          <div class="col-lg-3">
                                <div id="nameColorChange" data-format="alias" class="input-group colorpicker-component">
                                    <input type="text" value="primary" class="form-control" />
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                          </div>
                      </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-9">
                            <textarea rows="10" cols="45" name="text" class="form-control" placeholder="Описание акции" id="discountDescriptionChange"></textarea>
                        </div>
                        <div class="col-lg-3">
                            <div id="descriptionColorChange" data-format="alias" class="input-group colorpicker-component">
                                <input type="text" value="primary" class="form-control" />
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <form id="upload-file-change" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <label for="file">Выберите файл для загрузки</label>
                            <input name="file" type="file">
                        </fieldset>
                        <fieldset>
                            <button id="upload-file-btn-change" type="button" class="btn btn-default btn-info">Загрузить</button>
                        </fieldset>
                    </form>
                      <br>
                    <div class="row" id="imagesProductChange">

                    </div>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="changeDiscount()">Изменить акцию</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>

      </div>
    </div>
    <div id="modalRemoveDis" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Удаление акции</h4>
          </div>

          <div class="modal-body">
              <label>Точно хотите удалить акцию?</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="removeDis()">Удалить акцию?</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>

      </div>
    </div>

    <div class="container" id="productList">
        <div class="row">
            <div class="col-lg-9">
               <h2 id="progress-label">
                <a class="anchorjs-link "  style="font-family: anchorjs-icons; font-style: normal; font-variant-ligatures: normal; font-variant-position: normal; font-variant-caps: normal; font-variant-numeric: normal; font-variant-alternates: normal; font-variant-east-asian: normal; font-weight: normal; line-height: inherit; position: absolute; margin-left: -1em; padding-right: 0.5em;"></a>
                Акции appleshop54.com</h2>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-success" style="margin-top: 15px;" onclick="modeChange = false; loadDisctountNextId(); $('#modalAddDiscount').modal('show'); ">Добавить акцию</button>
            </div>
        </div>
        <br>
        <br>
        <div class="row" id="discounts">
            {{ discount|safe }}
        </div>

    </div>
    <script>

        var discountId = null;
        var imageIDs = [];
        var changeId = null;
        var removeId = null;
        var modeChange = false;
        function removeImage(image_id){
            $.get('/ad/discount/remove_image?image_id='+imageIDs[0].toString() + "&id=" + discountId.toString())
            .done(function (data) {
                console.log(data);
                loadAllImages();
            })
            .fail(function(data){
                alert(data.message);
            });
        }
        function changeDisPre(dis_id) {
            changeId = dis_id;
            discountId = changeId;
            loadAllImages();
            $("#discountIdChange").text('Изменяемая акция: №' + changeId.toString());
            $.get('/ad/discount/get',{'id':changeId})
            .done(function (data) {
                data = JSON.parse(data);
                console.log(data);
                $("#discountNameChange").val(data['name']);
                $("#discountDescriptionChange").val(data['description']);
                $("#nameColorChange").colorpicker('setValue',data["name_color"]);
                $("#descriptionColorChange").colorpicker('setValue',data["description_color"]);
                discountId = data["id"];
                modeChange = true;
                $("#modalChangeDiscount").modal("show");
                loadAllImages();
            })
            .fail(function () {
                toastr["error"]("appleshop54.com", "Ошибка изменения акции");
            });

        }
        function changeDiscount() {
            $.post('/ad/discount/change',{"name":$("#discountNameChange").val(),"description":$("#discountDescriptionChange").val(),
                                        "image_name":imageIDs[0],"name_color": $("#nameColorChange").colorpicker('getValue'),
                                        "description_color": $("#descriptionColorChange").colorpicker('getValue'), "id": discountId.toString()})
            .done(function (data) {
                console.log(data);
                $("#modalChangeDiscount").modal("hide");
                toastr["success"]("appleshop54.com", "Успешно изменена акция");
                $.get('/ad/discount/html')
                .done(function (data) {
                    $("#discounts").html(data);
                })
                .fail(function (data) {
                    toastr["error"]("appleshop54.com", "Ошибка загрузки акций");
                });
                loadDisctountNextId();
            })
            .fail(function (data) {
                toastr["error"]("appleshop54.com", "Ошибка изменения акции");
            });
        }
        function removeDisPre(dis_id) {
            removeId = dis_id;
            $('#modalRemoveDis').modal("show");
        }
        function removeDis() {
            $.post('/ad/discount/delete',{'id':removeId})
            .done(function (data) {
                toastr["success"]("appleshop54.com", "Успешно удалена акция");
                $('#modalRemoveDis').modal("hide");
                $.get('/ad/discount/html')
                .done(function (data) {
                    $("#discounts").html(data);
                })
                .fail(function (data) {
                    toastr["error"]("appleshop54.com", "Ошибка загрузки акций");
                });
                loadDisctountNextId();
            })
            .fail(function () {
                toastr["error"]("appleshop54.com", "Ошибка удаления акции");

            });
        }
        function addDiscount() {
            $.post('/ad/discount/add',{"name":$("#discountName").val(),"description":$("#discountDescription").val(),
                                        "image_name":imageIDs[0],"name_color": $("#nameColor").colorpicker('getValue'),
                                        "description_color": $("#descriptionColor").colorpicker('getValue')})
            .done(function (data) {
                console.log(data);
                $("#modalAddDiscount").modal("hide");
                toastr["success"]("appleshop54.com", "Успешно добавлена акция");
                $.get('/ad/discount/html')
                .done(function (data) {
                    $("#discounts").html(data);
                })
                .fail(function (data) {
                    toastr["error"]("appleshop54.com", "Ошибка загрузки акций");
                });
                loadDisctountNextId();
            })
            .fail(function (data) {
                toastr["error"]("appleshop54.com", "Ошибка добавления акции");
            });
        }

        function loadAllImages(){
            $.get('/ad/discount/img/all', {'discountId' :discountId})
            .done(function (data) {
                data = JSON.parse(data);
                console.log(data);
                var html = "";
                imageIDs = [];
                if(modeChange == true)
                    $("#imagesProductChange").html('');
                else
                    $("#imagesProduct").html("");
                if(data.length > 0) {
                    if(modeChange == true)
                        $("#upload-file-btn-change").addClass('disabled');
                    else
                        $("#upload-file-btn").addClass('disabled');
                    for(var i = 0; i< 1; i++){
                        imageIDs.push(data[i]);
                        html += '<div class="col-xs-12"> <div class="thumbnail">';
                        html += '<img src="/static/img/banners/' + discountId.toString() + '/' + data[i] + '" alt="..." id="img1" imageId='+ data[i] +'>';
                        html += '<div class="caption">' +
                                '<p><a onclick="removeImage(\''+ data[i] +'\');" class="btn btn-primary" role="button">Удалить изображение</a> ';
                        html += '</div></div></div>';
                    }
                    if(modeChange == true)
                        $("#imagesProductChange").html(html);
                    else
                        $("#imagesProduct").html(html);

                }
                else{
                    if(modeChange == true)
                        $("#upload-file-btn-change").removeClass('disabled');
                    else
                        $("#upload-file-btn").removeClass('disabled');
                }
            })
            .fail(function (data) {
                toastr["error"]("appleshop54.com", "Ошибка загрузки изображения");
            });
        }


        function loadDisctountNextId(){
            $.get('/ad/discount/next_id')
            .done(function(data){
                data = JSON.parse(data);
                console.log(data);
                discountId = data.id;
                $("#discountId").text("Идентификатор акции: № " + discountId.toString());
                loadAllImages();
            })
            .fail(function(data){
                alert(data);
            });
        }
        $(function() {
            var formbtn = "#upload-file-btn";
            var formname = "#upload-file";
            if(modeChange == true)
            {
                formbtn = "#upload-file-btn-change";
                formname = "#upload-file-change";
            }
            $("#upload-file-btn").click(function() {
                var form_data = new FormData($("#upload-file")[0]);
                $.ajax({
                    type: 'POST',
                    url: '/ad/discount/upload_image/' + discountId.toString(),
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function(data) {
                        console.log('Success!');


                        loadAllImages();
                    }
                });
            });
            $("#upload-file-btn-change").click(function() {
                var form_data = new FormData($("#upload-file-change")[0]);
                $.ajax({
                    type: 'POST',
                    url: '/ad/discount/upload_image/' + discountId.toString(),
                    data: form_data,
                    contentType: false,
                    cache: false,
                    processData: false,
                    async: false,
                    success: function(data) {
                        console.log('Success!');


                        loadAllImages();
                    }
                });
            });
        });
        $(window).load(function () {
            loadDisctountNextId();
            $(function() {
                $('#nameColor').colorpicker({
                    colorSelectors: {
                        '#000000': '#000000',
                        '#ffffff': '#ffffff',
                        '#FF0000': '#FF0000',
                        '#777777': '#777777',
                        '#337ab7': '#337ab7',
                        '#5cb85c': '#5cb85c',
                        '#5bc0de': '#5bc0de',
                        '#f0ad4e': '#f0ad4e',
                        '#d9534f': '#d9534f'
                    }
                });
                $('#descriptionColor').colorpicker({
                    colorSelectors: {
                        '#000000': '#000000',
                        '#ffffff': '#ffffff',
                        '#FF0000': '#FF0000',
                        '#777777': '#777777',
                        '#337ab7': '#337ab7',
                        '#5cb85c': '#5cb85c',
                        '#5bc0de': '#5bc0de',
                        '#f0ad4e': '#f0ad4e',
                        '#d9534f': '#d9534f'
                    }
                });
                $('#nameColorChange').colorpicker({
                    colorSelectors: {
                        '#000000': '#000000',
                        '#ffffff': '#ffffff',
                        '#FF0000': '#FF0000',
                        '#777777': '#777777',
                        '#337ab7': '#337ab7',
                        '#5cb85c': '#5cb85c',
                        '#5bc0de': '#5bc0de',
                        '#f0ad4e': '#f0ad4e',
                        '#d9534f': '#d9534f'
                    }
                });
                $('#descriptionColorChange').colorpicker({
                    colorSelectors: {
                        '#000000': '#000000',
                        '#ffffff': '#ffffff',
                        '#FF0000': '#FF0000',
                        '#777777': '#777777',
                        '#337ab7': '#337ab7',
                        '#5cb85c': '#5cb85c',
                        '#5bc0de': '#5bc0de',
                        '#f0ad4e': '#f0ad4e',
                        '#d9534f': '#d9534f'
                    }
                });
            });
        });
    </script>
{#    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>#}
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/retina.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
  </body>
</html>
