<br>
{% if discount | length > 0 %}
    <div class="row" id="home" name="home" style="height: 500px; margin-top: -26px;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators" style="">
                {% for i in range(discount | length) %}
                    {% if i == 0 %}
                        <li data-target="#myCarousel" data-slide-to="{{ i }}" class="active"></li>
                    {% else %}
                        <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
                    {% endif %}
                {% endfor %}
{#                  {% set dis_i = 0 %}#}
{#                  {% for dis in discount %}#}
{#                      {% if dis_i == 0 %}#}
{#                        #}
{#                          {% set dis_i = dis_i + 1 %}#}
{#                      {% else %}#}
{#                        #}
{#                      {% endif %}#}
{#                  {% endfor %}#}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                {% for i in range(discount | length) %}
                    {% if i == 0 %}
                        <div class="item active back" style=" height: 500px; z-index: 1; ">
                    {% else %}
                        <div class="item back" style=" height: 500px; z-index: 1; ">
                    {% endif %}
                        <div style="background-image: url(/static/img/banners/{{ discount[i]["id"] }}/{{ discount[i]["image_name"] }}); min-height: 500px; background-repeat: no-repeat; background-position: center;"></div>
                                <div class="images_carousel" style="text-shadow: none  !important;">
                                    <div class="container">
                                        <div class="row" style="display: inline-block; z-index: 100;float: right;">
                                            <button class="btn btn-success" onclick="changeDisPre({{ discount[i]["id"] }});">Изменить акцию</button>
                                            <button class="btn btn-danger" onclick="removeDisPre({{ discount[i]["id"] }});">Удалить акцию</button>
                                        </div>
                                        <div class="row" style="margin-left: 10px; margin-top: 150px;">
                                            <div class="col-sm-5">
                                                <div class="row">
                                                    <label style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px; color:{{ discount[i]["name_color"] }}; margin-left: 0">{{ discount[i]["name"] }}</label>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <label style="font-family: 'Roboto', sans-serif;  font-weight: 500; font-size: 19px; color:{{ discount[i]["description_color"] }}; margin-left: 0">{{ discount[i]["description"] }}</label>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <button class="btn appleshop_btn appleshop_btn_call" onclick="window.top.location.href='/акции#dis{{ discount[i]["id"] }}';">ПОДРОБНЕЕ</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                {% endfor %}
              </div>
            </div>
        </div>
{% else %}
    <h2>Акций нет</h2>
{% endif %}
