<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="APPLESHOP54 - Магазин трендовых товаров">
    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>APPLESHOP54 - Магазин трендовых товаров</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/appleshop54.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link href="/static/css/animate-custom.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
   <!-- МЕНЮХА -->
  	<div id="navbar-main">
        <!-- Fixed navbar -->
        <div class="navbar navbar navbar-top">
            <div class="row" style="height: 75px; background: #222">
                <div class="container">
                    <div class="row" style="margin-left: 15px;">
                        <div class="col-sm-6">
                            <div class="row" style="margin-top:5px;">
                                <h2 class="header_logo" style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px;">APPLESHOP54&nbsp&nbsp&nbsp</h2>
                                <span class="header_logo" style="font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 500;">Магазин трендовых гаджетов</span>
                            </div>

                        </div>
                        <div class="col-sm-1" style="text-align: center;">
                            <div class="apple_logo header_logo" style="margin-top: 12px; float: left;  margin-left: -40px;">
                                <img src="/static/img/apple_logo.png">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="phone_icon inline-image" style="float: right; margin-top:28px; color:white; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic;">
                                        <img src="/static/img/header_phone.png" align="left" style="filter: invert(100%); margin-top: 2px">
                                        <span class="phone_text">8 (961) 123-45-67</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="text-align: right; top:10px;">
                                    <button class="btn appleshop_btn appleshop_btn_call">ЗАКАЗАТЬ ЗВОНОК</button>
                                </div>
                            </div>
                        </div>
                    </div>

    {#                <div style="background-image: url(/static/img/apple_logo.png); background-size: cover; background-position: center; width:50px; height: 50px;"></div>#}
                </div>
            </div>
            <div class="row appleshop_header" style="height: 50px; background: white; ">
                <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
                      </button>
                    </div>
                    <div class="navbar-collapse collapse " style="">
                      <ul class="nav navbar-nav">
                        <li><a href="/" class="smoothScroll appleshop_menu_btn_active" style="width: 135px;">ГЛАВНАЯ</a></li>
                        <li> <a href="каталог" class="smoothScroll appleshop_menu_btn"  style="width: 165px;">ПРОДУКЦИЯ</a></li>
                        <li> <a href="#services" class="smoothScroll appleshop_menu_btn" style="width: 130px;">РЕМОНТ</a></li>
                        <li> <a href="#team" class="smoothScroll appleshop_menu_btn" style="width: 125px;">АКЦИИ</a></li>
                        <li> <a href="#portfolio" class="smoothScroll appleshop_menu_btn" style="width: 155px;">КАК КУПИТЬ</a></li>
                        <li> <a href="#blog" class="smoothScroll appleshop_menu_btn" style="width: 210px;">ДОСТАВКА И ОПЛАТА</a></li>
                        <li> <a href="контакты" class="smoothScroll appleshop_menu_btn" style="width: 137px;">КОНТАКТЫ</a></li>
                        <li> <a href="#" class="smoothScroll appleshop_menu_btn" style="width: 80px;">ПОИСК</a></li>
                      </ul>
                    </div><!--/.nav-collapse -->
                  </div>
            </div>

        </div>
    </div>
    {{ body | safe }}
    <div class="row" style="height: 75px; background: #222">
        <div class="container">
            <div class="col-sm-6">
                <div class="row" style="margin-top:5px;">
                    <h2 class="header_logo" style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px;">APPLESHOP54&nbsp&nbsp&nbsp</h2>
                    <span class="header_logo" style="font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 500;">Магазин трендовых гаджетов</span>
                </div>

            </div>
            <div class="col-sm-1" style="text-align: center;">
                <div class="apple_logo header_logo" style="margin-top: 12px; float: left;  margin-left: -40px;">
                    <img src="/static/img/apple_logo.png">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="phone_icon inline-image" style="float: right; margin-top:28px; color:white; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic;">
                            <img src="/static/img/header_phone.png" align="left" style="filter: invert(100%); margin-top: 2px">
                            <span class="phone_text">8 (961) 123-45-67</span>
                        </div>
                    </div>
                    <div class="col-sm-6" style="text-align: right; top:10px;">
                        <button class="btn appleshop_btn appleshop_btn_call">ЗАКАЗАТЬ ЗВОНОК</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/retina.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
    <script>
        $(document).ready(function() {
            $( "div.appleshop_spec_jumb" ).hover(function() {
              $(this).toggleClass('appleshop_spec_jumb_hover');
            });
            $( "div.appleshop_catalog_jumb" ).hover(function() {
              $(this).toggleClass('appleshop_catalog_jumb_hover');
            });
            $( "button.appleshop_specs_btn" ).hover(function() {
              $(this).toggleClass('appleshop_specs_btn_active');
            });

            $( "div.appleshop_product_jumb" ).hover(function() {
              $(this).toggleClass('appleshop_catalog_jumb_hover');
            });
        });

    </script>
  </body>
</html>
