<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="APPLESHOP54 - Магазин трендовых товаров">
    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>APPLESHOP54 - Магазин трендовых товаров</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/appleshop54.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link href="/static/css/animate-custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/static/css/font-awesome.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <script src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
    <script src="/static/js/sugar.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
   <!-- МЕНЮХА -->
  	<div id="navbar-main">
        <!-- Fixed navbar -->
        <div class="navbar navbar navbar-top" id="navbar" style="z-index: 10000;">
            <div class="row" style="height: 75px; background: #222">
                <div class="container">

                    <div class="row" id="nav_row" style="margin-left: 15px;">
                        <div class="col-sm-6" id="nav_logo_text">
                            <div class="row" style="margin-top:5px;">
                                <h2 class="header_logo" style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px;">APPLESHOP54&nbsp&nbsp&nbsp</h2>
                                <span class="header_logo" style="font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 500;">Магазин трендовых гаджетов</span>
                            </div>
                        </div>
                        <div class="col-sm-2" style="text-align: center;" id="nav_logo">
                            <div class="apple_logo header_logo" style="margin-top: 12px; float: left;  margin-left: -40px;">
                                <img src="/static/img/apple_logo.png">
                            </div>
                            <div class="row desk_soc">
                                <ul class="list-inline" style="min-width: 230px;">
                                    <li>
                                        <a href="https://www.instagram.com/appleshop54/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://vk.com/appleshop_54" class="btn-social btn-outline"><i class="fa fa-fw fa-vk"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/groups/AppleShop54/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-sm-3" id="nav_logo_btn">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="phone_icon inline-image" style="float: right; margin-top:28px; color:white; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic;">
                                        <img src="/static/img/header_phone.png" align="left" style="filter: invert(100%); margin-top: 2px">
                                        <span class="phone_text">358-00-48</span>
                                    </div>
                                </div>

                                <div class="col-sm-6" style="text-align: right; top:10px;">
                                    <button class="btn appleshop_btn appleshop_btn_call"  data-toggle="modal" data-target="#callModal">ЗАКАЗАТЬ ЗВОНОК</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 mob_soc" style="display: inline-block; z-index: 1000;">
                            <ul class="list-inline" style="min-width: 230px;">
                                <li>
                                    <a href="https://www.instagram.com/appleshop54/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://vk.com/appleshop_54" class="btn-social btn-outline"><i class="fa fa-fw fa-vk"></i></a>
                                </li>
{#                                <li>#}
{#                                    <a href="https://www.facebook.com/groups/AppleShop54/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>#}
{#                                </li>#}
                            </ul>
                        </div>
                        <div class="col-sm-1" id="nav_btn_hamb" style="display: none;  height: 30px; width: 12.5px;">
                            <div id="nav-icon4" style="margin-top: -25px;"  data-toggle="collapse" data-target=".navbar-collapse">
                              <span></span>
                              <span></span>
                              <span></span>
                            </div>
                        </div>

                    </div>

    {#                <div style="background-image: url(/static/img/apple_logo.png); background-size: cover; background-position: center; width:50px; height: 50px;"></div>#}
                </div>
            </div>
            <div class="row appleshop_header" style="height: 50px; background: white; " id="nav_pc">
                <div class="container">

                    <div class="navbar-collapse collapse " style="">
                      <ul class="nav navbar-nav">
                        <li><a href="/" class="smoothScroll appleshop_menu_btn_active" style="width: 135px;">ГЛАВНАЯ</a></li>
                        <li> <a href="/каталог/телефоны-apple" class="smoothScroll appleshop_menu_btn"  style="width: 165px;">ПРОДУКЦИЯ</a></li>
                        <li> <a href="/ремонт" class="smoothScroll appleshop_menu_btn" style="width: 130px;">РЕМОНТ</a></li>
                        <li> <a href="/акции" class="smoothScroll appleshop_menu_btn" style="width: 125px;">АКЦИИ</a></li>
                        <li> <a href="/как-купить" class="smoothScroll appleshop_menu_btn" style="width: 155px;">КАК КУПИТЬ</a></li>
                        <li> <a href="/доставка-и-оплата" class="smoothScroll appleshop_menu_btn" style="width: 210px;">ДОСТАВКА И ОПЛАТА</a></li>
                        <li> <a href="/контакты" class="smoothScroll appleshop_menu_btn" style="width: 137px;">КОНТАКТЫ</a></li>
                        <li> <a href="/поиск" class="smoothScroll appleshop_menu_btn" style="width: 80px;">ПОИСК</a></li>

                      </ul>
                    </div><!--/.nav-collapse -->
                  </div>
            </div>
            <div class="row" style="margin-left: 0px; height: 0; background: white; display: none;" id="nav_mob">
                <div class="container">
                    <div class="navbar-collapse collapse " style="margin-top: 0px; background: white; color: black; ">
                      <ul class="nav navbar-nav mob_nav" style="margin-top: 0; text-align: center;">
                        <li><a href="/" class="smoothScroll">ГЛАВНАЯ</a></li>
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: black;">ПРОДУКЦИЯ<span class="caret"></span></a>
                            <ul class="dropdown-menu" style="background: #e7e7e7;">
                              <li><a href="/каталог/телефоны-apple">ТЕЛЕФОНЫ APPLE</a></li>
                              <li><a href="/каталог/планшеты">ПЛАНШЕТЫ</a></li>
                              <li><a href="/каталог/applewatch">APPLE WATCH</a></li>
                              <li><a href="/каталог/чехлы">ЧЕХЛЫ</a></li>
                              <li><a href="/каталог/фитнес-браслеты">ФИТНЕС БРАСЛЕТЫ</a></li>
                              <li><a href="/каталог/защита-экрана">ЗАЩИТА ЭКРАНА</a></li>
                              <li><a href="/каталог/другие-устройства">ДРУГИЕ УСТРОЙСТВА</a></li>
                              <li><a href="/каталог/аксессуары">АКСЕССУАРЫ</a></li>
                            </ul>
                          </li>
{#                        <li> <a href="/каталог/телефоны-apple" class="smoothScroll">ПРОДУКЦИЯ</a></li>#}
                        <li> <a href="/ремонт" class="smoothScroll">РЕМОНТ</a></li>
                        <li> <a href="/акции" class="smoothScroll">АКЦИИ</a></li>
                        <li> <a href="/как-купить" class="smoothScroll">КАК КУПИТЬ</a></li>
                        <li> <a href="/доставка-и-оплата" class="smoothScroll">ДОСТАВКА И ОПЛАТА</a></li>
                        <li> <a href="/контакты" class="smoothScroll">КОНТАКТЫ</a></li>
                        <li> <a href="/поиск" class="smoothScroll">ПОИСК</a></li>

                      </ul>
                    </div><!--/.nav-collapse -->
                  </div>
            </div>

        </div>
    </div>
    <div class="modal fade call_modal" id="callModal" tabindex="-1" role="dialog" aria-labelledby="myCallLabel" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 700px; margin-top: 200px;margin-left: -50px;">

          <div class="modal-body" style="background-color: #f7f7f7">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; margin-top: -50px; margin-right: -15px;"><span style="font-size: 14px;">Закрыть</span></button>
            <div class="row" style="margin: auto; width: 550px">
                <br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading" style="font-weight: bold;">ЗАКАЗАТЬ ЗВОНОК</h3>
                    </div>
                </div>
                <div class="row">
                    <h4 class="section-heading" style="text-align: center">Отправьте заявку на звонок и в ближайшее время, наши специалисты свяжуться с Вами</h4>
                </div>
                <br>
                <div class="row text-center">
                    <input class="appleshop_questions_input text-center" placeholder="Как Вас зовут?" id="callName">
                </div>
                <br>
                <div class="row text-center" >
                    <input class="appleshop_questions_input text-center" placeholder="Ваш номер телефона"  type="text" id="callPhoneNumber">
                </div>
                <br>
                <br>
                <div class="row text-center">
                    <button class="btn appleshop_btn appleshop_btn_call disabled" onclick="callRequest()" id="callSendBtn">ЗАКАЗАТЬ ЗВОНОК</button>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>

   <div class="modal fade call_modal" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="myOrderLabel" >
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 710px; margin-top: 200px;margin-left: -50px;" id="modal_order_content">

          <div class="modal-body" style="background-color: #f7f7f7">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; margin-top: -50px; margin-right: -15px;"><span style="font-size: 14px;">Закрыть</span></button>
            <div class="row" style="margin: auto; width: 550px" id="modal_order">
                <br>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading" style="font-weight: bold;">ЗАКАЗАТЬ ТОВАРА</h3>
                    </div>
                </div>
                <div class="row">
                    <h4 class="section-heading" style="text-align: center; font-weight: bold;">Отправьте заявку на покупку товара и в ближайшее время, наши специалисты свяжуться с Вами для уточнения деталей</h4>
                </div>
                <br>
                <div class="row text-center">
                    <input class="appleshop_questions_input text-center" placeholder="Как Вас зовут?" id="orderName">
                </div>
                <br>
                <div class="row text-center" >
                    <input class="appleshop_questions_input text-center" placeholder="Ваш номер телефона"  type="text" id="orderPhone">
                </div>
                <br>
                <div class="row text-center" >
                    <input class="appleshop_questions_input text-center" placeholder="Ваша почта"  type="text" id="orderEmail">
                </div>
                <br>
                <div class="row" id="comment_order">
                    <textarea class="appleshop_questions_input" placeholder="Ваш комментарий..."  type="text" id="orderComment" style="min-height: 145px;"></textarea>
                </div>
                <br>
                <br>
                <div class="row text-center">
                    <button class="btn appleshop_btn appleshop_btn_call disabled" onclick="orderRequest()" id="orderSendBtn">ЗАКАЗАТЬ ТОВАР</button>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
    {{ body | safe }}
    <div class="row" style="height: 75px; background: #222">
        <div class="container" style="text-align: center;">
            <div class="col-sm-6" id="nav_logo_text">
                <div class="row" style="margin-top:5px;">
                    <h2 class="header_logo" style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px;">APPLESHOP54&nbsp&nbsp&nbsp</h2>
                    <span class="header_logo" style="font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 500;">Магазин трендовых гаджетов</span>
                </div>
            </div>
            <div class="col-sm-2" style="text-align: center;" id="nav_logo">
                <div class="apple_logo header_logo" style="margin-top: 12px; float: left;  margin-left: -40px;">
                    <img src="/static/img/apple_logo.png">
                </div>
                <div class="row desk_soc">
                    <ul class="list-inline" style="min-width: 230px;">
                        <li>
                            <a href="https://www.instagram.com/appleshop54/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://vk.com/appleshop_54" class="btn-social btn-outline"><i class="fa fa-fw fa-vk"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/groups/AppleShop54/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3" id="nav_logo_btn">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="phone_icon inline-image" style="float: right; margin-top:28px; color:white; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic;">
                            <img src="/static/img/header_phone.png" align="left" style="filter: invert(100%); margin-top: 2px">
                            <span class="phone_text">358-00-48</span>
                        </div>
                    </div>
                    <div class="col-sm-6" style="text-align: right; top:10px;">
                        <button class="btn appleshop_btn appleshop_btn_call"  data-toggle="modal" data-target="#callModal">ЗАКАЗАТЬ ЗВОНОК</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mob_soc" style="display: inline-block; z-index: 1000;">
                <ul class="list-inline" style="min-width: 230px;">
                    <li>
                        <a href="https://www.instagram.com/appleshop54/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://vk.com/appleshop_54" class="btn-social btn-outline"><i class="fa fa-fw fa-vk"></i></a>
                    </li>
{#                    <li>#}
{#                        <a href="https://www.facebook.com/groups/AppleShop54/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>#}
{#                    </li>#}
                </ul>
            </div>
{#            <div class="col-sm-1" id="nav_btn_hamb" style="display: none;  height: 30px; width: 12.5px;">#}
{#                <div id="nav-icon4" style="margin-top: -25px;"  data-toggle="collapse" data-target=".navbar-collapse">#}
{#                  <span></span>#}
{#                  <span></span>#}
{#                  <span></span>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.maskedinput.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/retina.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-slider.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
    <script>
{#        $('#callPhoneNumber').mask('+7 (999) 999 - 99 - 99', {#}
{#            placeholder: '_'#}
{#        });#}
        var canSendCall = false;




        function callRequest(){
            if(canSendCall)
            {
                $.post('/call_request',{'name': $("#callName").val(), 'phone': $('#callPhoneNumber').val()})
                .done(function (data) {
                    data = JSON.parse(data);
                    if(data.succeed)
                        $("#callModal").modal('toggle');
                })
                .fail(function (data) {

                });

            }
        }
        $(document).ready(function() {
             // Add slideDown animation to Bootstrap dropdown when expanding.
              $('.dropdown').on('show.bs.dropdown', function() {
                $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
              });

              // Add slideUp animation to Bootstrap dropdown when collapsing.
              $('.dropdown').on('hide.bs.dropdown', function() {
                $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
              });
{#            $("#callPhoneNumber").mask("+7(999) 999-9999");#}
            (function( $ ){

            //// ---> Проверка на существование элемента на странице
            jQuery.fn.exists = function() {
               return jQuery(this).length;
            };

            //	Phone Mask
            $(function() {

              if($('#callPhoneNumber').exists()){

                $('#callPhoneNumber').each(function(){
                  $('#callPhoneNumber').mask(" +7 (999) 999-99-99");
                });

              }
                setInterval(function () {
                    var pmc = $('#callPhoneNumber');
                    if ( ((pmc.val().indexOf("_") != -1) || pmc.val() == '' )) {
                        if(!$("#callSendBtn").hasClass('disabled'))
                            $("#callSendBtn").addClass('disabled');
                        canSendCall = false;
                    } else {
                        if($("#callName").val().length > 2) {
                            canSendCall = true;
                            $("#callSendBtn").removeClass('disabled');
                        }
                        else
                            canSendCall = false;
                    }
                },200);

            });

            })( jQuery );










            $( "div.appleshop_spec_jumb" ).hover(function() {
              $(this).toggleClass('appleshop_spec_jumb_hover');
            });
            $( "div.appleshop_catalog_jumb" ).hover(function() {
              $(this).toggleClass('appleshop_catalog_jumb_hover');
            });
            $( "button.appleshop_specs_btn" ).hover(function() {
              $(this).toggleClass('appleshop_specs_btn_active');
            });

            $( "div.appleshop_product_jumb" ).hover(function() {
              $(this).toggleClass('appleshop_catalog_jumb_hover');
            });

        });

    </script>
  <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
                $(this).toggleClass('open');
            });
        });
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter41145524 = new Ya.Metrika({
                        id:41145524,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/41145524" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
  </body>
</html>
