<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="APPLESHOP54 - Магазин трендовых товаров">
    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>APPLESHOP54 - Магазин трендовых товаров</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/appleshop54.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link href="/static/css/animate-custom.css" rel="stylesheet">


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
   <!-- МЕНЮХА -->
  	<div id="navbar-main">
          <!-- Fixed navbar -->
        <div class="navbar navbar navbar-top">
            <div class="row" style="height: 75px; background: #222">
                <div class="container">
                    <div class="row" style="margin-left: 0;">
                        <div class="col-sm-6">
                            <div class="row" style="margin-top:5px;">
                                <h2 class="header_logo" style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px;">APPLESHOP54&nbsp&nbsp&nbsp</h2>
                                <span class="header_logo" style="font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 500;">Магазин трендовых гаджетов</span>
                            </div>

                        </div>
                        <div class="col-sm-1" style="text-align: center;">
                            <div class="apple_logo header_logo" style="margin-top: 12px; float: left;  margin-left: -40px;">
                                <img src="/static/img/apple_logo.png">
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="phone_icon inline-image" style="float: right; margin-top:28px; color:white; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic;">
                                        <img src="/static/img/header_phone.png" align="left" style="filter: invert(100%); margin-top: 2px">
                                        <span class="phone_text">8 (961) 123-45-67</span>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="text-align: right; top:10px;">
                                    <button class="btn appleshop_btn appleshop_btn_call">ЗАКАЗАТЬ ЗВОНОК</button>
                                </div>
                            </div>
                        </div>
                    </div>

    {#                <div style="background-image: url(/static/img/apple_logo.png); background-size: cover; background-position: center; width:50px; height: 50px;"></div>#}
                </div>
            </div>
            <div class="row appleshop_header" style="height: 50px; background: white; ">
                <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-shield" style="font-size:30px; color:#3498db;"></span>
                      </button>
                    </div>
                    <div class="navbar-collapse collapse " style="">
                      <ul class="nav navbar-nav">
                        <li><a href="#home" class="smoothScroll appleshop_menu_btn_active" style="width: 135px;">ГЛАВНАЯ</a></li>
                        <li> <a href="#about" class="smoothScroll appleshop_menu_btn"  style="width: 175px;">ПРОДУКЦИЯ</a></li>
                        <li> <a href="#services" class="smoothScroll appleshop_menu_btn" style="width: 130px;">РЕМОНТ</a></li>
                        <li> <a href="#team" class="smoothScroll appleshop_menu_btn" style="width: 125px;">АКЦИИ</a></li>
                        <li> <a href="#portfolio" class="smoothScroll appleshop_menu_btn" style="width: 155px;">КАК КУПИТЬ</a></li>
                        <li> <a href="#blog" class="smoothScroll appleshop_menu_btn" style="width: 210px;">ДОСТАВКА И ОПЛАТА</a></li>
                        <li> <a href="#blog" class="smoothScroll appleshop_menu_btn" style="width: 147px;">КОНТАКТЫ</a></li>
                        <li> <a href="#contact" class="smoothScroll appleshop_menu_btn" style="width: 80px;">ПОИСК</a></li>
                      </ul>
                    </div><!--/.nav-collapse -->
                  </div>
            </div>

        </div>
    </div>
  
    <!-- ==== КАРУСЕЛЬКА ==== -->
    <div class="row" id="home" name="home" style="height: 600px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators" style="">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active back" style="background-image: url(/static/img/carousel2.png); height: 600px;">

            </div>

            <div class="item back" style="background-image: url(/static/img/bg/divider1.jpg); height: 600px;">
            </div>

            <div class="item back" style="background-image: url(/static/img/bg/divider2.jpg); height: 600px;">
            </div>

            <div class="item back" style="background-image: url(/static/img/bg/divider3.jpg); height: 600px;">
            </div>
          </div>

        </div>
    </div><!-- /headerwrap -->

    <!-- ==== GREYWRAP ==== -->
    <div style="background-color: #e7e7e7;">
        <div class="row">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="font-weight: bold;">НАША ПРОДУКЦИЯ</h3>
                </div>
            </div>
            <div class="row">
                <h4 class="section-heading" style="text-align: center">Более 500 товаров ждут вашего выбора в нашем каталоге</h4>
            </div>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 product_container">
                        <div class="appleshop_product_jumb appleshop_product_jumb_big text-center">
                            <div class="product_image" id="test"></div>
                            <br>
                            <br>
                            <label style="margin-top:20px;">ТЕЛЕФОНЫ APPLE</label>
                        </div>
                    </div>
                    <div class="col-lg-8 product_container">
                        <div class="row">

                            <div class="col-lg-6 product_container">
                                <div class="appleshop_product_jumb">
                                    <div class="row">
                                        <div class="col-lg-7 center-block  text-center">

                                            <div class="product_icon icon_tablet"></div>
                                        </div>
                                        <div class="col-lg-5  text-center"><label style="padding-top: 70px;margin-left: -10px;  text-align: right;">ПЛАНШЕТЫ</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 product_container">
                               <div class="appleshop_product_jumb">
                                    <div class="row">
                                        <div class="col-lg-7 center-block  text-center">

                                            <div class="product_icon icon_watches"></div>
                                        </div>
                                        <div class="col-lg-5 text-center"><label  style="padding-top: 70px;margin-left: -20px;  text-align: right;">SMART ЧАСЫ</label></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-lg-6 product_container">
                                <div class="appleshop_product_jumb">
                                    <div class="row">
                                        <div class="col-lg-8 center-block  text-center">

                                            <div class="product_icon icon_covers"></div>
                                        </div>
                                        <div class="col-lg-4  text-center"><label style="padding-top: 70px;margin-left: -10px;  text-align: right;">ЧЕХЛЫ</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 product_container" style="">
                                <div class="appleshop_product_jumb">
                                    <div class="row">
                                        <div class="col-lg-8 center-block  text-center">

                                            <div class="product_icon icon_others"></div>
                                        </div>
                                        <div class="col-lg-4  text-center" style="margin-left: -20px;"><label style="padding-top: 60px;margin-left: -30px; text-align: right;">ДРУГИЕ УСТРОЙСТВА</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-lg-4 product_container">
                        <div class="appleshop_product_jumb">
                            <div class="row">
                                <div class="col-lg-8 center-block  text-center">

                                    <div class="product_icon icon_fitness"></div>
                                </div>
                                <div class="col-lg-4  text-center" style="margin-left: -20px;"><label style="padding-top: 60px; margin-left: -30px; text-align: right;">ФИТНЕС БРАСЛЕТЫ</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 product_container">
                        <div class="appleshop_product_jumb">
                            <div class="row">
                                <div class="col-lg-8 center-block  text-center">

                                    <div class="product_icon icon_sec"></div>
                                </div>
                                <div class="col-lg-4  text-center" style="margin-left: -20px;"><label style="padding-top: 60px; margin-left: -30px; text-align: right;">ЗАЩИТНЫЕ ПЛЕНКИ</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 product_container">
                        <div class="appleshop_product_jumb">
                            <div class="row">
                                <div class="col-lg-8 center-block  text-center">

                                    <div class="product_icon icon_accessioniers"></div>
                                </div>
                                <div class="col-lg-4 text-center" style="margin-left: -20px;"><label style="padding-top: 70px; margin-left: -30px; text-align: right;">АКСЕССУАРЫ</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!-- БЛОКИ С КНОПКАМИ -->
            <div class="row text-center">
                <button class="btn appleshop_btn appleshop_btn_call">ВСЯ ПРОДУКЦИЯ</button>
            </div>
            <br>
            <br>
        </div><!-- row -->
    </div><!-- greywrap -->
    <div style="background-color: white;">
        <div class="row">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="font-weight: bold;">СПЕЦПРЕДЛОЖЕНИЯ</h3>
                </div>
            </div>
            <div class="row">
                <h4 class="section-heading" style="text-align: center">Лучшие предложения от нашего магазина</h4>
            </div>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 product_container">
                        <div class="appleshop_spec_jumb">
                            <div class="row" style="margin: auto;">
                                <div class="specs_icon"></div>
                            </div>
                            <br>
                            <div class="row specs_divider"></div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>
                                <br>
                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>
                            </div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 product_container">
                        <div class="appleshop_spec_jumb">
                            <div class="row" style="margin: auto;">
                                <div class="specs_icon"></div>
                            </div>
                            <br>
                            <div class="row specs_divider"></div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>
                                <br>
                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>
                            </div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 product_container">
                        <div class="appleshop_spec_jumb">
                            <div class="row" style="margin: auto;">
                                <div class="specs_icon"></div>
                            </div>
                            <br>
                            <div class="row specs_divider"></div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>
                                <br>
                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>
                            </div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 product_container">
                        <div class="appleshop_spec_jumb">
                            <div class="row" style="margin: auto;">
                                <div class="specs_icon"></div>
                            </div>
                            <br>
                            <div class="row specs_divider"></div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>
                                <br>
                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>
                            </div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-3 product_container">
                        <div class="appleshop_spec_jumb">
                            <div class="row" style="margin: auto;">
                                <div class="specs_icon"></div>
                            </div>
                            <br>
                            <div class="row specs_divider"></div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>
                                <br>
                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>
                            </div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 product_container">
                        <div class="appleshop_spec_jumb">
                            <div class="row" style="margin: auto;">
                                <div class="specs_icon"></div>
                            </div>
                            <br>
                            <div class="row specs_divider"></div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>
                                <br>
                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>
                            </div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 product_container">
                        <div class="appleshop_spec_jumb">
                            <div class="row" style="margin: auto;">
                                <div class="specs_icon"></div>
                            </div>
                            <br>
                            <div class="row specs_divider"></div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>
                                <br>
                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>
                            </div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 product_container">
                        <div class="appleshop_spec_jumb">
                            <div class="row" style="margin: auto;">
                                <div class="specs_icon"></div>
                            </div>
                            <br>
                            <div class="row specs_divider"></div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>
                                <br>
                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>
                            </div>
                            <br>
                            <div class="row" style="text-align: center; margin: auto;">
                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <!-- БЛОКИ С КНОПКАМИ -->
                <div class="row text-center">
                    <button class="btn appleshop_btn appleshop_btn_call">ДРУГИЕ ТОВАРЫ</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="row" style="height: 450px; background-image: url(/static/img/question_bg.png); background-position: center; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <div class="appleshop_question">
                        <div class="row" style="margin: auto; width: 440px;">
                            <br>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h3 class="section-heading" style="font-weight: bold;">ЕСТЬ ВОПРОС?</h3>
                                </div>
                            </div>
                            <div class="row">
                                <h4 class="section-heading" style="text-align: center">Оставтье нам свой номер телефона и мы свяжемся с Вами в ближайшее время</h4>
                            </div>
                            <br>
                            <div class="row text-center">
                                <input class="appleshop_questions_input text-center" placeholder="Как Вас зовут?">
                            </div>
                            <br>
                            <div class="row text-center">
                                <input class="appleshop_questions_input text-center" placeholder="Ваш номер телефона">
                            </div>
                            <br>
                            <br>
                            <div class="row text-center">
                                <button class="btn appleshop_btn appleshop_btn_call">ОТПРАВИТЬ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 75px; background: #222">
        <div class="container">
            <div class="col-sm-6">
                <div class="row" style="margin-top:5px;">
                    <h2 class="header_logo" style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px;">APPLESHOP54&nbsp&nbsp&nbsp</h2>
                    <span class="header_logo" style="font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic; font-weight: 500;">Магазин трендовых гаджетов</span>
                </div>

            </div>
            <div class="col-sm-1" style="text-align: center;">
                <div class="apple_logo header_logo" style="margin-top: 12px; float: left;  margin-left: -40px;">
                    <img src="/static/img/apple_logo.png">
                </div>
            </div>
            <div class="col-sm-5">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="phone_icon inline-image" style="float: right; margin-top:28px; color:white; font-family: 'Roboto Light', sans-serif; font-size: 16px; font-style: italic;">
                            <img src="/static/img/header_phone.png" align="left" style="filter: invert(100%); margin-top: 2px">
                            <span class="phone_text">8 (961) 123-45-67</span>
                        </div>
                    </div>
                    <div class="col-sm-6" style="text-align: right; top:10px;">
                        <button class="btn appleshop_btn appleshop_btn_call">ЗАКАЗАТЬ ЗВОНОК</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/retina.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
    <script>
        $(document).ready(function() {
            $( "div.appleshop_spec_jumb" ).hover(function() {
              $(this).toggleClass('appleshop_spec_jumb_hover');
            });
            $( "button.appleshop_specs_btn" ).hover(function() {
              $(this).toggleClass('appleshop_specs_btn_active');
            });
        });

    </script>
  </body>
</html>
