<!-- Custom styles for this template -->
<link href="/static/css/main.css" rel="stylesheet">
<link href="/static/css/appleshop54.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/icomoon.css">
<link href="/static/css/animate-custom.css" rel="stylesheet">
<link href="/static/css/bootstrap-slider.css" rel="stylesheet">
<link href="/static/css/font-awesome.css" rel="stylesheet">



<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
<script src="/static/js/sugar.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="banner-content text-center">
                    <p class="text-uppercase text-white">Работаем для лучшего результата</p>
                    <h1 class="text-uppercase text-white">Создаем уникальные вещи от уникальных инженеров</h1>
                    <a href="#" class="primary-btn banner-btn">Изучить</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start About Area -->
<section class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <h2 class="text-uppercase">О нашей компании</h2>
                    <br>
                    <h3>Для решения задач прототипирования и мелкосерийной продукции мы используем 3D принтеры компании TEVO, а также ЧПУ фрезерные станки и прочие станки для металлообработки</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="/static/landing/img/tevo-black-widow.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">3D принтеры</h5>
                        <p>Мы используем принтеры для печати различных изделий, таких как корпуса устройств, шестерен, силовых конструкций из пластиков ABS, SBS, PLA</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="/static/landing/img/cnc.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Фрезерные станки с ЧПУ</h5>
                        <p>Используя данный тип станков можно создавать воистину уникальные изделия из металла.</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="signle-service">
                    <img src="/static/landing/img/code.jpg" class="img-fluid" alt="">
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Life Advice Looking At Window</h5>
                        <p>Having a baby can be a nerve wrackingexp erience for new parents – not the nine months of pregnancy, I’m talking</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Product Area -->
<section id="services" class="title-bg section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-white text-uppercase">Why Choose Us</p>
                    <h2 class="text-white h1">We ensure perfect quality Digital <br> products for you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-star"></span>
                    </div>
                    <div class="desc">
                        <h4>Unique Design</h4>
                        <p>Most people who work in an office environment, buy computer products, or have </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-magic-wand"></span>
                    </div>
                    <div class="desc">
                        <h4>Appropriate UX</h4>
                        <p>Today, many people rely on computers to do homework, work, and create or store useful</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-sun"></span>
                    </div>
                    <div class="desc">
                        <h4>Perfect Visual</h4>
                        <p>Having a baby can be a nerve wracking experience for new parents – not the nine months </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-layers"></span>
                    </div>
                    <div class="desc">
                        <h4>Different Layout</h4>
                        <p>It won’t be a bigger problem to find one video game lover in your neighbor. Since the </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Team member Area -->
<section id="team" class="pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <br>
                    <br>
                    <h2 class="h1">Наша команда</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-member">
                    <div class="thumb relative" style="background: url(/static/landing/img/t1.jpg);">
                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#">Богомолов Дмитрий</a></h5>
                        <p>Инженер-программист</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-member">
                    <div class="thumb relative" style="background: url(/static/landing/img/ruslan.jpg);">
                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#">Августан Руслан</a></h5>
                        <p>Инженер</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-member">
                    <div class="thumb relative" style="background: url(/static/landing/img/t3.jpg);">
                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#">Богомолов Михаил</a></h5>
                        <p>Инженер-программист</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team member Area -->

<!-- Start Digital Studio -->
<section class="section-full studio-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="studio-content">
                    <p class="text-uppercase text-white">We create top class designs</p>
                    <h2 class="h1 text-white text-uppercase mb-20">A Digital Studio Crafting <br> Tech Business</h2>
                    <p class="text-white mb-30">Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical interface of the versions, therefore it has remained Microsoft’s product. Although, Lycoris, Red Hat, Mandrake,</p>
                    <a href="#" class="primary-btn text-white d-inline-flex align-items-center">Start Business<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Digital Studio -->

<!-- Start Publish Area -->
<section id="blog" class="section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Latest From Blog</p>
                    <h2 class="h1">Publish what you want to <br> not requires social</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-publish">
                    <img src="/static/landing/img/p1.jpg" class="img-fluid" alt="">
                    <div class="top">
                        <div class="mb-15 d-flex">
                            <a href="#">25 October, 2017</a>
                            <span class="line">|</span>
                            <a href="#">By Mark Wiens</a>
                        </div>
                        <h6 class="text-uppercase"><a href="#">Addiction When Gambling Becomes A Problem</a></h6>
                    </div>
                    <p class="mb-30">Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their </p>
                    <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-publish">
                    <img src="/static/landing/img/p2.jpg" class="img-fluid" alt="">
                    <div class="top">
                        <div class="mb-15 d-flex">
                            <a href="#">25 October, 2017</a>
                            <span class="line">|</span>
                            <a href="#">By Mark Wiens</a>
                        </div>
                        <h6 class="text-uppercase"><a href="#">Computer Hardware Desktops And Notebooks </a></h6>
                    </div>
                    <p class="mb-30">Ah, the technical interview. Nothing like it. Not only does it cause anxiety, but it causes anxiety for several different reasons. </p>
                    <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-publish">
                    <img src="/static/landing/img/p3.jpg" class="img-fluid" alt="">
                    <div class="top">
                        <div class="mb-15 d-flex">
                            <a href="#">25 October, 2017</a>
                            <span class="line">|</span>
                            <a href="#">By Mark Wiens</a>
                        </div>
                        <h6 class="text-uppercase"><a href="#">Make Myspace Your Best Designed Space</a></h6>
                    </div>
                    <p class="mb-30">Plantronics with its GN Netcom wireless headset creates the next generation of wireless headset and other products such as wireless </p>
                    <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-publish">
                    <img src="/static/landing/img/p4.jpg" class="img-fluid" alt="">
                    <div class="top">
                        <div class="mb-15 d-flex">
                            <a href="#">25 October, 2017</a>
                            <span class="line">|</span>
                            <a href="#">By Mark Wiens</a>
                        </div>
                        <h6 class="text-uppercase"><a href="#">Video Games Playing With Imagination</a></h6>
                    </div>
                    <p class="mb-30">About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about.   11% of all adult internet </p>
                    <a href="#" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Publish Area -->
<!-- Start Contact Area -->
<section id="contact" class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Latest From Blog</p>
                    <h2 class="h1">Publish what you want to <br> not requires social</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mt-30">
                <p>Dramatically reintermediate effective applications after high-payoff core competencies. Authoritatively optimize collaborative benefits for error-free communities. Dramatically reintermediate effective applications after high-payoff core competencies. Authoritatively optimize collaborative benefits for error-free communities.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="address mt-20">
                            <h6 class="text-uppercase mb-15">Physical Address</h6>
                            <p>Emperor Publishing,<br> 56/8, bir uttam qazi nuruzzaman <br> road, Dhaka - 1205</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="address mt-20">
                            <h6 class="text-uppercase mb-15">WEb Contact</h6>
                            <a href="tel:0000">012 (88) 017 25 656 565</a> <br>
                            <a href="tel:0000">012 (88) 017 25 656 565</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-30">
                <form id="myForm" action="mail.php" method="post" class="contact-form">
                    <div class="single-input color-2 mb-10">
                        <input type="text" name="fname" placeholder="Full Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Full Name'" required>
                    </div>
                    <div class="single-input color-2 mb-10">
                        <input type="email" name="email" placeholder="Email Address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required>
                    </div>
                    <div class="single-input color-2 mb-10">
                        <input type="text" name="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'" required>
                    </div>

                    <div class="single-input color-2 mb-10">
                        <textarea name="message" placeholder="Type your message here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type your message here...'" required></textarea>
                    </div>
                    <div class="d-flex justify-content-end"><button class="mt-10 primary-btn d-inline-flex text-uppercase align-items-center">Send Message<span class="lnr lnr-arrow-right"></span></button></div>
                    <div class="alert"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->
<!-- Start Cta Area -->
<section class="cta-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 d-flex no-flex-xs justify-content-between align-items-center">
                <h5 class="text-uppercase text-white">Not yet convinced with our quality?</h5>
                <a href="#" class="primary-btn d-inline-flex text-uppercase text-white align-items-center">Explore Services<span class="lnr lnr-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>