 
    <!-- ==== КАРУСЕЛЬКА ==== -->
    <div class="row" id="home" name="home" style="height: 500px; margin-top: -26px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators" style="">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active back" style=" height: 500px; z-index: 1; ">
                <div style="background-image: url(/static/img/bg/iphone6.png); min-height: 500px; background-repeat: no-repeat; background-position: center;"></div>
{#                <img src="/static/img/bg/iphone6.png">#}
                <div class="images_carousel" style="text-shadow: none  !important;">
                    <div class="container">
                        <div class="row" style="margin-left: 10px; margin-top: 150px;">
                            <div class="col-sm-5">
                                <div class="row">
                                    <label style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px; color:black; margin-left: 0">iPhone 6 с большой скидкой!</label>
                                </div>
                                <br>
                                <div class="row">
                                    <label style="font-family: 'Roboto', sans-serif;  font-weight: 500; font-size: 19px; color:black; margin-left: 0">Специальное предложение в нашем магазине iphone 6 по новогодней цене всего 23900 рублей</label>
                                </div>
                                <br>
                                <div class="row">
                                    <button class="btn appleshop_btn appleshop_btn_call" onclick="window.top.location.href='/акции';">ПОДРОБНЕЕ</button>
                                </div>
                            </div>

                        </div>
{#                        <span style="font-family: 'Roboto', sans-serif; font-weight: bold; font-size: 25px; color:black; margin-left: 0">Chania</span>#}
{#                        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>#}
                    </div>
                </div>
            </div>

            <div class="item back" style="background-image: url(/static/img/bg/iphone7.png); height: 500px;">
            </div>
{##}
{#            <div class="item back" style="background-image: url(/static/img/bg/divider2.jpg); height: 500px;">#}
{#            </div>#}
{##}
{#            <div class="item back" style="background-image: url(/static/img/bg/divider3.jpg); height: 500px;">#}
{#            </div>#}
          </div>

        </div>
    </div><!-- /headerwrap -->

    <!-- ==== GREYWRAP ==== -->
    <div style="background-color: #e7e7e7;">
        <div class="row" style="margin-left: 0;">
            <br>
            <br>
            <div class="row" style="margin-left: 0;">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="font-weight: bold;">НАША ПРОДУКЦИЯ</h3>
                </div>
            </div>
            <div class="row" style="margin-left: 0;">
                <h4 class="section-heading" style="text-align: center">Более 500 товаров ждут вашего выбора в нашем каталоге</h4>
            </div>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 product_container">
                        <div class="appleshop_product_jumb appleshop_product_jumb_big text-center" onclick="window.top.location.href='/каталог/телефоны-apple';">
                            <div class="product_image" id="test"></div>
                            <br>
                            <br>
                            <label style="margin-top:20px;">ТЕЛЕФОНЫ APPLE</label>
                        </div>
                    </div>
                    <div class="col-lg-8 product_container" id="product_container_pc">
                        <div class="row">

                            <div class="col-lg-6 product_container " id="tabletsCont">
                                <h3 class="noneCat" id="noneCattabl">Пока отсутствует</h3>
                                <div class="appleshop_product_jumb ">
                                    <div class="row none_cat">

                                        <div class="col-lg-7 center-block  text-center">

                                            <div class="product_icon icon_tablet"></div>
                                        </div>
                                        <div class="col-lg-5  text-center"><label style="padding-top: 70px;margin-left: -10px;  text-align: right;">ПЛАНШЕТЫ</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 product_container " id="watchesCont">
                                <h3 class="noneCat" id="noneCatwatches">Пока отсутствует</h3>
                               <div class="appleshop_product_jumb ">
                                    <div class="row none_cat">
                                        <div class="col-lg-7 center-block  text-center">
                                            <div class="product_icon icon_watches"></div>
                                        </div>
                                        <div class="col-lg-5 text-center"><label  style="padding-top: 70px;margin-left: -20px;  text-align: right;">SMART ЧАСЫ</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-lg-6 product_container">
                                <div class="appleshop_product_jumb">
                                    <div class="row" onclick="window.top.location.href='/каталог/чехлы';">
                                        <div class="col-lg-8 center-block  text-center">

                                            <div class="product_icon icon_covers"></div>
                                        </div>
                                        <div class="col-lg-4  text-center"><label style="padding-top: 70px;margin-left: -10px;  text-align: right;">ЧЕХЛЫ</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 product_container" style="">
                                <div class="appleshop_product_jumb">
                                    <div class="row" onclick="window.top.location.href='/каталог/другие-устройства';">
                                        <div class="col-lg-8 center-block  text-center">
                                            <div class="product_icon icon_others"></div>
                                        </div>
                                        <div class="col-lg-4  text-center" style="margin-left: -20px;"><label style="padding-top: 60px;margin-left: -30px; text-align: right;">ДРУГИЕ УСТРОЙСТВА</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{#                    MOB#}
                    <div class="col-lg-8 product_container" style="display: none;" id="product_container_mob">
                        <div class="row">

{#                            <div class="col-lg-6 product_container " id="tabletsCont">#}
{##}
{#                                <table style="height:170px;" class="noneCat" id="noneCattabl">#}
{#                                    <tr>#}
{#                                        <td  style="text-align: center;">#}
{#                                            <label>Пока отсутствует</label>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                </table>#}
{#                                <h3 class="noneCat" id="noneCattabl">Пока отсутствует</h3>#}
{#                                <div class="appleshop_product_jumb ">#}
{#                                    <div class="row none_cat">#}
{#                                        <table style="height:170px;">#}
{#                                            <tr>#}
{#                                                <td>#}
{#                                                    <div class="product_icon icon_tablet"  style="margin-left: 40px;"></div>#}
{#                                                </td>#}
{#                                                <td style="text-align: right;">#}
{#                                                    <label style="margin-right: 10px;">ПЛАНШЕТЫ</label>#}
{#                                                </td>#}
{#                                            </tr>#}
{#                                        </table>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-6 product_container " id="watchesCont">#}
{#                                <h3 class="noneCat" id="noneCatwatches">Пока отсутствует</h3>#}
{#                               <div class="appleshop_product_jumb ">#}
{#                                    <div class="row none_cat">#}
{#                                        <table style="height:170px;">#}
{#                                            <tr>#}
{#                                                <td>#}
{#                                                    <div class="product_icon icon_watches"  style="margin-left: 70px;margin-right: 45px;"></div>#}
{#                                                </td>#}
{#                                                <td style="text-align: right;">#}
{#                                                    <label style="margin-right: 10px;">SMART ЧАСЫ</label>#}
{#                                                </td>#}
{#                                            </tr>#}
{#                                        </table>#}
{#                                        <label style="position: absolute; margin-top: -95px;margin-left: 230px; padding-right: 15px; text-align: right;">SMART ЧАСЫ</label>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <div class="col-lg-6 product_container">
                                <div class="appleshop_product_jumb">
                                    <div class="row" onclick="window.top.location.href='/каталог/чехлы';">
                                        <table style="height:170px;">
                                            <tr>
                                                <td>
                                                    <div class="product_icon icon_covers"  style="margin-left: 70px;margin-right: 90px;"></div>
                                                </td>
                                                <td style="text-align: right;">
                                                    <label style="margin-right: 10px;">ЧЕХЛЫ</label>
                                                </td>
                                            </tr>
                                        </table>
{#                                        <div class="col-lg-8 center-block  text-center">#}
{##}
{#                                            <div class="product_icon icon_covers" style="margin-left: 70px;"></div>#}
{#                                        </div>#}
{#                                        <label style="position: absolute; margin-top: -75px;margin-left: 280px;">ЧЕХЛЫ</label>#}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 product_container" style="">
                                <div class="appleshop_product_jumb">
                                    <div class="row" onclick="window.top.location.href='/каталог/другие-устройства';">
                                        <div class="product_icon icon_others" style="margin-left: 70px;"></div>
                                        <label style="position: absolute; margin-top: -95px;margin-left: 230px; padding-right: 15px; text-align: right;">ДРУГИЕ УСТРОЙСТВА</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-lg-4 product_container">
                        <div class="appleshop_product_jumb" onclick="window.top.location.href='/каталог/фитнес-браслеты';">
                            <div class="row">
                                <table style="height:170px;">
                                    <tr>
                                        <td>
                                            <div class="product_icon icon_fitness"  style="margin-left: 70px;"></div>
                                        </td>
                                        <td style="text-align: right;">
                                            <label style="margin-right: 10px;">ФИТНЕС БРАСЛЕТЫ</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 product_container">
                        <div class="appleshop_product_jumb">
                            <div class="row" onclick="window.top.location.href='/каталог/защита-экрана';">
                                <table style="height:170px;">
                                    <tr>
                                        <td>
                                            <div class="product_icon icon_sec"  style="margin-left: 70px;"></div>
                                        </td>
                                        <td style="text-align: right;">
                                            <label style="margin-right: 10px;">ЗАЩИТНЫЕ ПЛЕНКИ</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 product_container">
                        <div class="appleshop_product_jumb">
                            <div class="row" onclick="window.top.location.href='/каталог/аксессуары';">
                                <table style="height:170px;">
                                    <tr>
                                        <td>
                                            <div class="product_icon icon_accessioniers"  style="margin-left: 70px; margin-right: 50px;"></div>
                                        </td>
                                        <td style="text-align: right;">
                                            <label style="margin-right: 10px;">АКСЕССУАРЫ</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <!-- БЛОКИ С КНОПКАМИ -->
            <div class="row text-center">
                <button class="btn appleshop_btn appleshop_btn_call" onclick="window.top.location.href='/каталог';">ВСЯ ПРОДУКЦИЯ</button>
            </div>
            <br>
            <br>
        </div><!-- row -->
    </div><!-- greywrap -->
    <div style="background-color: white;">
        <div class="row" style="margin-left: 0;">
            <br>
            <br>
            <div class="row" style="margin-left: 0;">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading" style="font-weight: bold;">СПЕЦПРЕДЛОЖЕНИЯ</h3>
                </div>
            </div>
            <div class="row" style="margin-left: 0;">
                <h4 class="section-heading" style="text-align: center">Лучшие предложения от нашего магазина</h4>
            </div>
            <br>
            <br>
            <div class="container">
{#                <div class="row">#}
{#                    <div class="col-lg-3 product_container">#}
{#                        <div class="appleshop_spec_jumb">#}
{#                            <div class="row" style="margin: auto;">#}
{#                                <div class="specs_icon"></div>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row specs_divider"></div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>#}
{#                                <br>#}
{#                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 product_container">#}
{#                        <div class="appleshop_spec_jumb">#}
{#                            <div class="row" style="margin: auto;">#}
{#                                <div class="specs_icon"></div>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row specs_divider"></div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>#}
{#                                <br>#}
{#                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 product_container">#}
{#                        <div class="appleshop_spec_jumb">#}
{#                            <div class="row" style="margin: auto;">#}
{#                                <div class="specs_icon"></div>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row specs_divider"></div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>#}
{#                                <br>#}
{#                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 product_container">#}
{#                        <div class="appleshop_spec_jumb">#}
{#                            <div class="row" style="margin: auto;">#}
{#                                <div class="specs_icon"></div>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row specs_divider"></div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>#}
{#                                <br>#}
{#                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <br>#}
{#                <div class="row">#}
{#                    <div class="col-lg-3 product_container">#}
{#                        <div class="appleshop_spec_jumb">#}
{#                            <div class="row" style="margin: auto;">#}
{#                                <div class="specs_icon"></div>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row specs_divider"></div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>#}
{#                                <br>#}
{#                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 product_container">#}
{#                        <div class="appleshop_spec_jumb">#}
{#                            <div class="row" style="margin: auto;">#}
{#                                <div class="specs_icon"></div>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row specs_divider"></div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>#}
{#                                <br>#}
{#                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 product_container">#}
{#                        <div class="appleshop_spec_jumb">#}
{#                            <div class="row" style="margin: auto;">#}
{#                                <div class="specs_icon"></div>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row specs_divider"></div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>#}
{#                                <br>#}
{#                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-3 product_container">#}
{#                        <div class="appleshop_spec_jumb">#}
{#                            <div class="row" style="margin: auto;">#}
{#                                <div class="specs_icon"></div>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row specs_divider"></div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <label style="font-family: 'Roboto', sans-serif;">IPHONE 7 PLUS BLACK</label>#}
{#                                <br>#}
{#                                <label style="font-family: 'Roboto Light', sans-serif;">46 000р</label>#}
{#                            </div>#}
{#                            <br>#}
{#                            <div class="row" style="text-align: center; margin: auto;">#}
{#                                <button class="btn appleshop_specs_btn">ПОДРОБНЕЕ</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="row">
                    {% for product in data %}
                        <div class="col-lg-3 product_container" style="margin-top: 20px;">
                            <div class="appleshop_catalog_jumb" style="background-color: #f5f5f5">
                                <div class="row" style="margin: auto;">
                                    {% if product['image_id'] != None %}
                                        <div class="specs_icon" style="background-image: url(/static/img/products/tmp/{{ product['id'] }}/{{ product['image_id'] }})"></div>
                                    {% else %}
                                        <div class="specs_icon" style="background-image: url(/static/img/img_dummy.png)"></div>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="row specs_divider"></div>
                                <div class="row" style="text-align: center; margin: auto;">
                                    <br>
                                    <label style="font-family: 'Roboto', sans-serif;">{{ product['NAME'] }}</label>
                                    <br>
                                    <label style="font-family: 'Roboto Light', sans-serif;">{{ product['price'] }}р</label>
                                    <br>
                                </div>
                                <br>
                                <div class="row" style="text-align: center; margin: auto;">
                                    <button class="btn appleshop_specs_btn" onclick="window.top.location.href='/каталог/{{ product['tp'] }}/{{ product['NAME'] }}?product_id={{ product['id'] }}';">ПОДРОБНЕЕ</button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <br>
                <br>
                <!-- БЛОКИ С КНОПКАМИ -->
                <div class="row text-center">
                    <button class="btn appleshop_btn appleshop_btn_call"onclick="window.top.location.href='/каталог/телефоны-apple'" >ДРУГИЕ ТОВАРЫ</button>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div class="row" style="height: 450px; background-image: url(/static/img/question_bg.png); background-position: center; background-size: cover;" id="question_pc">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <div class="appleshop_question">
                        <div class="row" id="question" style="margin-left:25px; margin-right: 10px;">
                            <br>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <h3 class="section-heading" style="font-weight: bold;">ЕСТЬ ВОПРОС?</h3>
                                </div>
                            </div>
                            <div class="row">
                                <h4 class="section-heading" style="text-align: center">Оставтье нам свой номер телефона и мы свяжемся с Вами в ближайшее время</h4>
                            </div>
                            <br>
                            <div class="row text-center">
                                <input class="appleshop_questions_input text-center" placeholder="Как Вас зовут?" id="questionName">
                            </div>
                            <br>
                            <div class="row text-center">
                                <input class="appleshop_questions_input text-center" placeholder="Ваш номер телефона" id="questionPhone" type="text">
                            </div>
                            <br>
                            <br>
                            <div class="row text-center">
                                <button class="btn appleshop_btn appleshop_btn_call" id="questionSendBtn" onclick="sendQuestion()">ОТПРАВИТЬ</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 450px; background-image: url(/static/img/question_bg.png); background-position: center; background-size: cover; display: none; margin-top: 20px;" id="question_mob">
        <div class="container">
            <div class="row" style="margin-left: 10px; margin-right: -10px; margin-top: 20px;
    background-color: #fdfdfd;
    min-height: 400px;">
                <br>
                <div class="row" style="margin-left: 0;">
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading" style="font-weight: bold;">ЕСТЬ ВОПРОС?</h3>
                    </div>
                </div>
                <div class="row" style="margin-left: 0;">
                    <h4 class="section-heading" style="text-align: center">Оставтье нам свой номер телефона и мы свяжемся с Вами в ближайшее время</h4>
                </div>
                <br>
                <div class="row text-center" style="margin-left: 0;">
                    <input class="appleshop_questions_input text-center" placeholder="Как Вас зовут?" id="questionName">
                </div>
                <br>
                <div class="row text-center" style="margin-left: 0;">
                    <input class="appleshop_questions_input text-center" placeholder="Ваш номер телефона" id="questionPhone" type="text">
                </div>
                <br>
                <br>
                <div class="row text-center" style="margin-left: 0;">
                    <button class="btn appleshop_btn appleshop_btn_call" id="questionSendBtn" onclick="sendQuestion()">ОТПРАВИТЬ</button>
                </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var canSendQuestion = false;




        function sendQuestion(){
            if(canSendQuestion)
            {
                $.post('/call_request',{'name': $("#questionName").val(), 'phone': $('#questionPhone').val()})
                .done(function (data) {
                    data = JSON.parse(data);
                    if(data.succeed)
                        alert('Спасибо за проявленный интерес, с Вами скоро свяжутся наши специалисты!')
                })
                .fail(function (data) {

                });

            }
        }
        $(document).ready(function() {
            {#            $("#callPhoneNumber").mask("+7(999) 999-9999");#}
            (function ($) {

                //// ---> Проверка на существование элемента на странице
                jQuery.fn.exists = function () {
                    return jQuery(this).length;
                };

                //	Phone Mask
                $(function () {

                    if ($('#questionPhone').exists()) {

                        $('#questionPhone').each(function () {
                            $('#questionPhone').mask(" +7 (999) 999-99-99");
                        });

                    }
                    setInterval(function () {
                        var pmc = $('#questionPhone');
                        if (((pmc.val().indexOf("_") != -1) || pmc.val() == '' )) {
                            if (!$("#questionSendBtn").hasClass('disabled'))
                                $("#questionSendBtn").addClass('disabled');
                            canSendQuestion = false;
                        } else {
                            if ($("#questionName").val().length > 2) {
                                canSendQuestion = true;
                                $("#questionSendBtn").removeClass('disabled');
                            }
                            else
                                canSendQuestion = false;
                        }
                    }, 200);

                });

            })(jQuery);


            $("#tabletsCont").hover(function (data) {
                        $("#noneCattabl").css('display', 'inline');
                    },
                    function (data) {

                        $("#noneCattabl").css('display', 'none');
                    });
            $("#watchesCont").hover(function (data) {
                        $("#noneCatwatches").css('display', 'inline');
                    },
                    function (data) {

                        $("#noneCatwatches").css('display', 'none');
                    });
        });
</script>