<div class="row" style="background: #f1f1f1; margin-top: -20px;">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-3">
                <div class="list-group" style="width: 270px; margin-top:10px; min-height:800px;">
                  <a href="/каталог" class="list-group-item disabled appleshop_menu_item" style="background-color: black;">
                    <div class="apple_shop_item_text" style="color:white;">КАТАЛОГ ПРОДУКЦИИ</div>
                  </a>
                  <a href="/каталог/телефоны-apple" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ТЕЛЕФОНЫ APPLE</div></a>
                  <a href="/каталог/планшеты" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ПЛАНШЕТЫ</div></a>
                  <a href="/каталог/smart-часы" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">SMART-ЧАСЫ</div></a>
                  <a href="/каталог/чехлы" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ЧЕХЛЫ</div></a>
                  <a href="/каталог/фитнес-браслеты" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ФИТНЕС БРАСЛЕТЫ</div></a>
                  <a href="/каталог/защитные-пленки" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ЗАЩИТНЫЕ ПЛЕНКИ</div></a>
                  <a href="/каталог/другие-устройства" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ДРУГИЕ УСТРОЙСТВА</div></a>
                  <a href="/каталог/аксессуары" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">АКСЕССУАРЫ</div></a>
                </div>
            </div>
            <div class="col-lg-9">
                {{ body | safe}}
            </div>
        </div>
    </div>
</div>
