<div class="row" style="background: #f1f1f1; margin-top: -25px; margin-left: 0px;">
    <div class="container">
        <br>

        <div class="row" style="margin-left: -5px; margin-right: -5px;" >
            <div class="col-lg-3" id="ap_menu">
                <div class="list-group" style="width: 270px; margin-top:10px; min-height:800px;" >
{#                  <a href="/каталог" class="list-group-item disabled appleshop_menu_item" style="background-color: black;">#}
{#                    <div class="apple_shop_item_text" style="color:white;">КАТАЛОГ ПРОДУКЦИИ</div>#}
{#                  </a>#}
                  <a href="/каталог/телефоны-apple" class="list-group-item disabled appleshop_menu_item" style="background-color: black;">
                    <div class="apple_shop_item_text" style="color:white;">КАТАЛОГ ПРОДУКЦИИ</div>
                  </a>
                  <a href="/каталог/телефоны-apple" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ТЕЛЕФОНЫ APPLE</div></a>
{#                  <a href="/каталог/планшеты" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ПЛАНШЕТЫ</div></a>#}
{#                  <a href="/каталог/smart-часы" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">SMART-ЧАСЫ</div></a>#}
                  <a href="/каталог/чехлы" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ЧЕХЛЫ</div></a>
                  <a href="/каталог/фитнес-браслеты" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ФИТНЕС БРАСЛЕТЫ</div></a>
                  <a href="/каталог/защита-экрана" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ЗАЩИТА ЭКРАНА</div></a>
                  <a href="/каталог/другие-устройства" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">ДРУГИЕ УСТРОЙСТВА</div></a>
                  <a href="/каталог/аксессуары" class="list-group-item appleshop_menu_item"><div class="apple_shop_item_text">АКСЕССУАРЫ</div></a>
                </div>

            </div>
{#            <div class="col-lg-12">#}
{#                <div class="row" style="margin-left: 0; display: none;" id="ap_menu_mob">#}
{#                    <div class="row" style="background: white; height: 75px; margin-left: -10px;margin-right: -10px">#}
{#                        <div class="col-md-8">#}
{#                            <label style="font-family: 'Roboto', sans-serif;  font-weight: 500; font-size: 18px; color:black; margin-top: 25px; margin-left: 5px;">Телефоны Apple</label>#}
{#                        </div>#}
{#                        <div class="col-md-4">#}
{#                            <div class="col-sm-1" id="nav_btn_hamb" style="display: none;  height: 30px; width: 12.5px;">#}
{#                                <div id="nav-icon4" style="margin-top: -25px; margin-right: 10px; color:black;"  data-toggle="collapse" data-target="#navbar_mob">#}
{#                                  <span style="background-color: #399ae9"></span>#}
{#                                  <span style="background-color: #399ae9"></span>#}
{#                                  <span style="background-color: #399ae9"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div style="width: 70%; height: 75px;" class="inline">#}
{#                            <label style="font-family: 'Roboto', sans-serif;  font-weight: 500; font-size: 18px; color:black; margin-top: 25px; margin-left: 5px;">Телефоны Apple</label>#}
{#                        </div>#}
{#                        <div style="width: 25%; height: 75px;" class="inline">#}
{#                            <div class="caret"></div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row" style="margin-left: 0px; height: 0; background: white; display: none;" id="nav_mob_test">#}
{#                        <div class="container">#}
{#                            <div class="navbar-collapse collapse" style="margin-top: 0px; background: white; color: black; " id="navbar_mob">#}
{#                              <ul class="nav navbar-nav mob_nav" style="margin-top: 0; text-align: center;">#}
{#                                <li><a href="/" class="smoothScroll">1</a></li>#}
{#                                <li> <a href="/каталог/телефоны-apple" class="smoothScroll">ПРОДУКЦИЯ</a></li>#}
{#                                <li> <a href="/ремонт" class="smoothScroll">РЕМОНТ</a></li>#}
{#                                <li> <a href="/акции" class="smoothScroll">АКЦИИ</a></li>#}
{#                                <li> <a href="/как-купить" class="smoothScroll">КАК КУПИТЬ</a></li>#}
{#                                <li> <a href="/доставка-и-оплата" class="smoothScroll">ДОСТАВКА И ОПЛАТА</a></li>#}
{#                                <li> <a href="/контакты" class="smoothScroll">КОНТАКТЫ</a></li>#}
{#                                <li> <a href="#" class="smoothScroll">ПОИСК</a></li>#}
{#                              </ul>#}
{#                            </div><!--/.nav-collapse -->#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-lg-9" style=" min-height: 500px;">
                {{ body | safe}}
            </div>
        </div>
    </div>
</div>
