<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="APPLESHOP54 - Магазин трендовых товаров">
    <link rel="shortcut icon" href="/static/ico/favicon.png">

    <title>APPLESHOP54 - Магазин трендовых товаров</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/appleshop54.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link href="/static/css/animate-custom.css" rel="stylesheet">



    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/js.cookie.min.js"></script>
    <link href="/static/css/toastr.min.css" rel="stylesheet">
    <script src="/static/js/toastr.min.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/js/html5shiv.js"></script>
      <script src="static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">appleshop54.ru</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if admin_level == 1 or admin_level == 3 %}
            <li><a href="/ad">Продукты <span class="sr-only">(current)</span></a></li>
          {% endif %}

          {% if admin_level == 1 or admin_level == 2 %}
            <li><a href="/ad/clients">Клиенты</a></li>
          {% endif %}
          {% if admin_level == 1 or admin_level == 2 %}
            <li><a href="/ad/seo">SEO</a></li>
          {% endif %}
          {% if admin_level == 1 %}
            <li><a href="/ad/users">Пользователи системы</a></li>
            <li><a href="/ad/discount">Акции</a></li>
            <li class="active"><a href="/ad/pages">Страницы</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right" id="loginPlace">
            <li><label style="margin-top: 15px; margin-right: 5px;">Ваш логин: {{ username }}</label></li>
            <li class="pointmenu"><a href="#" data-toggle="modal" data-target="#login-modal" onclick="Cookies.set('device_token',null); window.location=location.protocol + '//' + location.host+'/ad/auth'">Выйти</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container" id="productList">
        <div class="row">
            <div class="col-lg-3">
                <h3>Текст для страницы: ремонт</h3>
                <button class="btn btn-success" onclick="changeTextFor(0);">Применить изменения</button>
            </div>
            <div class="col-lg-9">
                <textarea rows="10" cols="45" name="text" class="form-control" placeholder="Описание акции" id="text0">{{ pages[0]["text"] }}</textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <h3>Текст для страницы: доставка и оплата</h3>
                <button class="btn btn-success" onclick="changeTextFor(1);">Применить изменения</button>
            </div>
            <div class="col-lg-9">
                <textarea rows="10" cols="45" name="text" class="form-control" placeholder="{{ pages[1]["text"] }}" id="text1">{{ pages[1]["text"] }}</textarea>
            </div>
        </div>
    </div>
    <script>
        function changeTextFor(page_id) {
            $.post('/ad/pages/change/' + page_id.toString(),{'text': $("#text"+page_id.toString()).val()})
            .done(function (data) {
                toastr["success"]("appleshop54.com", "Успешно изменен текст");
                $.get('/ad/pages/get')
                .done(function (data) {
                    data = JSON.parse(data);
                    console.log(data);
                    $("#text0").val(data[0].text);
                    $("#text1").val(data[1].text);
                    toastr["success"]("appleshop54.com", "Успешно получены новые данные");
                })
                .fail(function () {
                    toastr["error"]("appleshop54.com", "Ошибка ");
                });
            })
            .fail(function () {
                toastr["error"]("appleshop54.com", "Ошибка изменения текста");
            });
        }
        function removeProduct(productId){
            $.get('/ad/product/remove',{'product_id': productId})
            .done(function (data) {
                $.get('/ad/product/get_by_type')
                .done(function (data) {
                    $("#productList").html(data);
                })
                .fail(function (data) {
                   alert(data.message);
                });
            })
            .fail(function(data){
                alert(data);
            });
        }

    </script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/retina.js"></script>
	<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/js/smoothscroll.js"></script>
  </body>
</html>
