
{% for product in products %}
    <div class="col-lg-4 product_container" style="margin-top: 20px;">
        <div class="appleshop_catalog_jumb">
            <div class="row" style="margin: auto;">
                {% if product['image_id'] != None %}
                    <div class="specs_icon" style="background-image: url(/get_image/{{ product['image_id'] }})"></div>
                {% else %}
                    <div class="specs_icon" style="background-image: url(/static/img/img_dummy.png)"></div>
                {% endif %}
            </div>
            <br>
            <div class="row specs_divider"></div>
            <div class="row" style="text-align: center; margin: auto;">
                <br>
                <label style="font-family: 'Roboto', sans-serif;">{{ product['NAME'] }}</label>
                <br>
                <label style="font-family: 'Roboto Light', sans-serif;">{{ product['price'] }}р</label>
                <br>
            </div>
            <br>
{#        {{ product['NAME'] | safe }}#}
            <div class="row" style="text-align: center; margin: auto;">
                <button class="btn appleshop_specs_btn" onclick="window.top.location.href='/каталог/{{ _path }}/тест?product_id={{ product['id'] }}';">ПОДРОБНЕЕ</button>
            </div>
        </div>
    </div>
{% endfor %}
