<a class="btn btn-success" href="/ad/new">Добавить продукт</a>
{% set needRow = 1 %}
{% set countProducts = 0 %}
<label>Количество продукции: {{ products | length }} штук</label>
<div class="row">
{% for product in products %}
    {% if needRow == 1 %}
        </div>
        <br>
        <br>
        <div class="row">
        {% set needRow = 0 %}
    {% endif %}
    <div class="col-lg-3 product_container" style="margin-top: 20px;">
        <div class="appleshop_spec_jumb">
            <div class="row" style="margin: auto;">
                {% if product['image_id'] != None %}
                    <div class="specs_icon" style="background-image: url(/static/img/products/tmp/{{ product['id'] }}/{{ product['image_id'] }})"></div>
                {% else %}
                    <div class="specs_icon" style="background-image: url(/static/img/img_dummy.png)"></div>
                {% endif %}
            </div>
            <br>
            <div class="row specs_divider"></div>
            <div class="row" style="text-align: center; margin: auto;">
                <label style="font-family: 'Roboto', sans-serif;">{{ product['NAME'] }}</label>
                <br>
                <label style="font-family: 'Roboto Light', sans-serif;">{{ product['price'] }}р</label>
            </div>
            <div class="row" style="text-align: center; margin: auto;">
                <a class="btn btn-info" href="/ad/change/{{ product['id'] }}">ИЗМЕНИТЬ</a>
                {% if product['is_special'] == 0 %}
                <button class="btn btn-default" style="display: inline-block; z-index: 100;" onclick="setSpecial(this,{{ product['id'] }});">Сделать спец.предложением</button>
                {% else %}
                <button class="btn btn-success" style="display: inline-block; z-index: 100;" onclick="setSpecial(this,{{ product['id'] }});">Сделать спец.предложением</button>
                {% endif %}
                <button class="btn btn-danger" onclick="removeProduct({{ product['id'] }})">УДАЛИТЬ</button>
            </div>
        </div>
    </div>

    {% set countProducts = countProducts + 1 %}

    {% if needRow == 1 %}
        {% set needRow = 1 %}
        {% set countProducts = 1 %}
    {% endif %}
{% endfor %}

<script>
    function setSpecial(btn,id){
        console.log($(btn).hasClass('btn-default'));
        if($(btn).hasClass('btn-default')){

            $.get('/ad/change/special/set',{'product_id': id, 'is_special': 1})
            .done(function (data) {
                data = JSON.parse(data);
                console.log(data);
                if(data.success == true)
                {
                    $(btn).removeClass('btn-default');
                    $(btn).addClass('btn-success');
                }
                else{
                    alert('Назначено больше 8 спец. предложений');
                }
            })
            .fail(function (data) {

            });
        }else{
            $.get('/ad/change/special/set',{'product_id': id, 'is_special': 0})
            .done(function (data) {
                data = JSON.parse(data);
                if(data.success == true){
                    $(btn).addClass('btn-default');
                    $(btn).removeClass('btn-success');
                }
            })
            .fail(function (data) {

            });
        }
        console.log(btn);
    }
</script>